In [17]:
# Ref - concat - concatination
# https://youtu.be/txMdrV1Ut64?t=2131

import pandas as pd

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

survey_source = '/Users/josephyu/Documents/GitHub/data/survey_results_public.csv'
schema_source = '/Users/josephyu/Documents/GitHub/data/survey_results_schema.csv'

df = pd.read_csv(survey_source)  # index_col = 'Respondent'
schema_df = pd.read_csv(schema_source, index_col = 'Column')

In [18]:
# Create numerator

_num = df.groupby('Country')['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
_num

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [19]:
# # Create denominator
_deno = df.groupby('Country')['LanguageWorkedWith'].count()
_deno

Country
Afghanistan                              39
Albania                                  83
Algeria                                 126
Andorra                                   7
Angola                                    4
                                       ...
Venezuela, Bolivarian Republic of...     87
Viet Nam                                220
Yemen                                    17
Zambia                                   12
Zimbabwe                                 39
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [20]:
print(type(_num))
print(type(_deno))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [22]:
# Concatenate two Series into one dataframe

python_df = pd.concat([_num, _deno], axis='columns')

python_df

                                      LanguageWorkedWith  LanguageWorkedWith
Country
Afghanistan                                            8                  39
Albania                                               23                  83
Algeria                                               40                 126
Andorra                                                0                   7
Angola                                                 2                   4
...                                                  ...                 ...
Venezuela, Bolivarian Republic of...                  28                  87
Viet Nam                                              78                 220
Yemen                                                  3                  17
Zambia                                                 4                  12
Zimbabwe                                              14                  39

[179 rows x 2 columns]

In [24]:
python_df.columns = ['numerator', 'denominator']

# df.rename(columns={'a':'A', 'b':'B'}, inplace=True)

In [27]:
python_df['python_pct'] = (python_df['numerator'] / python_df['denominator']).round(4)

python_df

                                      numerator  denominator  python_pct
Country
Afghanistan                                   8           39      0.2051
Albania                                      23           83      0.2771
Algeria                                      40          126      0.3175
Andorra                                       0            7      0.0000
Angola                                        2            4      0.5000
...                                         ...          ...         ...
Venezuela, Bolivarian Republic of...         28           87      0.3218
Viet Nam                                     78          220      0.3545
Yemen                                         3           17      0.1765
Zambia                                        4           12      0.3333
Zimbabwe                                     14           39      0.3590

[179 rows x 3 columns]

In [45]:
python_df.loc[['China', 'India', 'United States']]

               numerator  denominator  python_pct
Country
China                297          638      0.4655
India               3105         8844      0.3511
United States      10083        20769      0.4855

In [44]:
python_df.sort_values(by='denominator', ascending=False).head(50)

                    numerator  denominator  python_pct
Country
United States           10083        20769      0.4855
India                    3105         8844      0.3511
Germany                  2451         5831      0.4203
United Kingdom           2384         5690      0.4190
Canada                   1558         3365      0.4630
France                   1054         2374      0.4440
Brazil                    767         1930      0.3974
Poland                    751         1907      0.3938
Australia                 790         1880      0.4202
Netherlands               767         1838      0.4173
Russian Federation        708         1686      0.4199
Spain                     641         1588      0.4037
Italy                     625         1554      0.4022
Sweden                    496         1263      0.3927
Switzerland               460          972      0.4733
Israel                    457          944      0.4841
Turkey                    371          924      0.4015
Pakistan                  251          900      0.2789
Ukraine                   246          861      0.2857
Austria                   338          832      0.4062
Czech Republic            285          759      0.3755
Romania                   253          744      0.3401
Iran                      268          731      0.3666
Belgium                   296          720      0.4111
Bulgaria                  181          650      0.2785
China                     297          638      0.4655
Mexico                    245          633      0.3870
South Africa              202          616      0.3279
Denmark                   246          609      0.4039
Bangladesh                204          589      0.3463
Norway                    232          568      0.4085
Greece                    226          552      0.4094
Argentina                 191          547      0.3492
Finland                   266          539      0.4935
Portugal                  182          521      0.3493
New Zealand               236          519      0.4547
Hungary                   191          511      0.3738
Ireland                   209          495      0.4222
Nigeria                   152          493      0.3083
Indonesia                 148          488      0.3033
Serbia                    117          395      0.2962
Japan                     182          387      0.4703
Sri Lanka                 137          366      0.3743
Philippines               117          361      0.3241
Egypt                     111          314      0.3535
Colombia                  108          306      0.3529
Singapore                 139          300      0.4633
Slovenia                  119          297      0.4007
Malaysia                   95          290      0.3276
Croatia                    87          258      0.3372