In [2]:
import pandas as pd

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

survey_source = '/Users/josephyu/Documents/GitHub/data/survey_results_public.csv'
schema_source = '/Users/josephyu/Documents/GitHub/data/survey_results_schema.csv'

df = pd.read_csv(survey_source)  # index_col = 'Respondent'
schema_df = pd.read_csv(schema_source, index_col = 'Column')

In [9]:
df['ConvertedComp'].median()

57287.0

In [10]:
df.median()

Respondent       44442.0
CompTotal        62000.0
ConvertedComp    57287.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
dtype: float64

In [25]:
row_filter = (df['Age'] > 4) & (df['ConvertedComp'] > 1_000)

df[row_filter].median()

Respondent       44538.0
CompTotal        62000.0
ConvertedComp    57287.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 30.0
dtype: float64

In [31]:
# Use describe() to get the overall picture on ALL numberica columns
# üß† df.describe()

df[row_filter].describe()

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
count,52973.000000,5.297300e+04,5.297300e+04,52562.000000,39251.000000,52973.000000
mean,44478.377947,5.663280e+11,1.278899e+05,41.885957,4.805498,31.448024
std,25678.008251,7.525323e+13,2.842436e+05,28.951745,4.758644,8.085765
min,3.000000,2.000000e+01,1.005000e+03,1.000000,0.000000,13.000000
25%,22161.000000,2.000000e+04,2.686800e+04,40.000000,2.000000,26.000000
50%,44538.000000,6.200000e+04,5.728700e+04,40.000000,4.000000,30.000000
75%,66726.000000,1.200000e+05,1.000000e+05,43.000000,5.000000,35.000000
max,88883.000000,1.000000e+16,2.000000e+06,3875.000000,99.000000,99.000000

In [34]:
# Filter with .iloc -> meaningful reference 

df[row_filter].describe().iloc[[1, 3, 5, 7], :]

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
mean,44478.377947,5.663280e+11,1.278899e+05,41.885957,4.805498,31.448024
min,3.000000,2.000000e+01,1.005000e+03,1.000000,0.000000,13.000000
50%,44538.000000,6.200000e+04,5.728700e+04,40.000000,4.000000,30.000000
max,88883.000000,1.000000e+16,2.000000e+06,3875.000000,99.000000,99.000000

In [35]:
df[row_filter].describe().iloc[[1, 5], :]

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
mean,44478.377947,5.663280e+11,127889.919015,41.885957,4.805498,31.448024
50%,44538.000000,6.200000e+04,57287.000000,40.000000,4.000000,30.000000

In [37]:
df[row_filter]['ConvertedComp'].count()

52973

In [39]:
df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [53]:
df['SocialMedia'].value_counts()

Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat ÂæÆ‰ø°                     667
Snapchat                      628
VK –í–ö–æ–Ω—Ç–∞ÃÅ–∫—Ç–µ                 603
Weibo Êñ∞Êµ™ÂæÆÂçö                     56
Youku Tudou ‰ºòÈÖ∑                 21
Hello                          19
Name: SocialMedia, dtype: int64

In [52]:
schema_df.loc['SocialMedia']

QuestionText    What social media site do you use the most?
Name: SocialMedia, dtype: object

In [58]:
df['SocialMedia'].value_counts(normalize=True)

Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat ÂæÆ‰ø°                   0.007899
Snapchat                    0.007437
VK –í–ö–æ–Ω—Ç–∞ÃÅ–∫—Ç–µ               0.007141
Weibo Êñ∞Êµ™ÂæÆÂçö                  0.000663
Youku Tudou ‰ºòÈÖ∑              0.000249
Hello                       0.000225
Name: SocialMedia, dtype: float64

In [ ]:
# What's the most popular social media site for each country?