In [ ]:
"""
the median salaries for these developer types 
what programming languages have the highest job satisfaction 

what the most preferred development environment is 
for the different development types and languages
"""

In [1]:
# Ref - concat - concatination
# https://youtu.be/txMdrV1Ut64?t=2131

import pandas as pd

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

survey_source = '/Users/josephyu/Documents/GitHub/data/survey_results_public.csv'
schema_source = '/Users/josephyu/Documents/GitHub/data/survey_results_schema.csv'

df = pd.read_csv(survey_source)  # index_col = 'Respondent'
schema_df = pd.read_csv(schema_source, index_col = 'Column')

In [2]:
df.shape

(88883, 85)

In [4]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [30]:
df.groupby('Country')['ConvertedComp'].apply(sum)['United States']

3738452440.0

In [36]:
# JobSat
schema_df.loc['JobSat']  # How satisfied are you with your current job?

QuestionText    How satisfied are you with your current job? (...
Name: JobSat, dtype: object

In [38]:
df['JobSat'].value_counts()

Slightly satisfied                    24207
Very satisfied                        22452
Slightly dissatisfied                 10752
Neither satisfied nor dissatisfied     8720
Very dissatisfied                      4857
Name: JobSat, dtype: int64

In [46]:
df.groupby('Country')['JobSat'].value_counts(normalize=True)['China']

JobSat
Slightly satisfied                    0.288840
Slightly dissatisfied                 0.284464
Neither satisfied nor dissatisfied    0.258206
Very dissatisfied                     0.085339
Very satisfied                        0.083151
Name: JobSat, dtype: float64

In [74]:
# df['TBD'].str.split(' - ', expand=True)

li_con = []

for i in df['DevType'][1:6].unique():
    li_con.extend(i.split(';'))
    # print(i.split(';'))

print(li_con)
print()
print(list(set(li_con)))

['Developer, desktop or enterprise applications', 'Developer, front-end', 'Designer', 'Developer, back-end', 'Developer, front-end', 'Developer, full-stack', 'Developer, full-stack', 'Academic researcher', 'Developer, desktop or enterprise applications', 'Developer, full-stack', 'Developer, mobile', 'Data or business analyst', 'Data scientist or machine learning specialist', 'Database administrator', 'Engineer, data']

['Developer, desktop or enterprise applications', 'Data or business analyst', 'Academic researcher', 'Data scientist or machine learning specialist', 'Engineer, data', 'Developer, full-stack', 'Developer, back-end', 'Developer, mobile', 'Database administrator', 'Designer', 'Developer, front-end']

In [ ]:
"""

1. Get the complete list of unqiue values from df['DevType']
2. Count the MOST common DevType Top 10 (E.g. Developer, full-stack ; Database administrator)
3. Apply "df['DevType'].str.contains" -> which DevType has the highest job satisfication?

"""

In [101]:
row_filter = df['JobSat'].str.contains('Very satisfied')

df['JobSat'].fillna('Neither satisfied nor dissatisfied', inplace=True)

In [102]:
df['JobSat']

0        Neither satisfied nor dissatisfied
1        Neither satisfied nor dissatisfied
2                        Slightly satisfied
3                        Slightly satisfied
4                     Slightly dissatisfied
                        ...
88878    Neither satisfied nor dissatisfied
88879    Neither satisfied nor dissatisfied
88880    Neither satisfied nor dissatisfied
88881    Neither satisfied nor dissatisfied
88882    Neither satisfied nor dissatisfied
Name: JobSat, Length: 88883, dtype: object

In [144]:
tgt_countries = df['Country'].value_counts().head(50).index.tolist()

tgt_countries

['United States',
 'India',
 'Germany',
 'United Kingdom',
 'Canada',
 'France',
 'Brazil',
 'Poland',
 'Australia',
 'Netherlands',
 'Russian Federation',
 'Spain',
 'Italy',
 'Sweden',
 'Switzerland',
 'Israel',
 'Turkey',
 'Pakistan',
 'Ukraine',
 'Austria',
 'Czech Republic',
 'Romania',
 'Iran',
 'Belgium',
 'China',
 'Bulgaria',
 'Mexico',
 'South Africa',
 'Denmark',
 'Bangladesh',
 'Norway',
 'Greece',
 'Argentina',
 'Finland',
 'Portugal',
 'New Zealand',
 'Nigeria',
 'Hungary',
 'Indonesia',
 'Ireland',
 'Serbia',
 'Japan',
 'Philippines',
 'Sri Lanka',
 'Egypt',
 'Colombia',
 'Singapore',
 'Malaysia',
 'Slovenia',
 'Slovakia']

In [152]:
# row_filter = (df['JobSat'].str.contains('Very satisfied')) & (df['Country'].isin(tgt_countries))
row_filter = df['Country'].isin(tgt_countries)
col_filter = ['Country', 'JobSat', 'ConvertedComp']

In [153]:

df.loc[row_filter, col_filter]

              Country                              JobSat  ConvertedComp
0      United Kingdom  Neither satisfied nor dissatisfied            NaN
3       United States                  Slightly satisfied        61000.0
4             Ukraine               Slightly dissatisfied            NaN
5              Canada                  Slightly satisfied       366420.0
6             Ukraine  Neither satisfied nor dissatisfied            NaN
...               ...                                 ...            ...
88875        Pakistan  Neither satisfied nor dissatisfied            NaN
88876           Spain  Neither satisfied nor dissatisfied            NaN
88877   United States  Neither satisfied nor dissatisfied            NaN
88878          Canada  Neither satisfied nor dissatisfied            NaN
88882           Spain  Neither satisfied nor dissatisfied            NaN

[82147 rows x 3 columns]

In [158]:
df['JobSat'].value_counts()

Neither satisfied nor dissatisfied    26615
Slightly satisfied                    24207
Very satisfied                        22452
Slightly dissatisfied                 10752
Very dissatisfied                      4857
Name: JobSat, dtype: int64

In [161]:

df.loc[row_filter, col_filter].groupby('Country')['JobSat'].value_counts(normalize=True).sort_values(ascending=False)

Country     JobSat
Nigeria     Neither satisfied nor dissatisfied    0.570881
China       Neither satisfied nor dissatisfied    0.489458
Egypt       Neither satisfied nor dissatisfied    0.482972
Indonesia   Neither satisfied nor dissatisfied    0.481262
Bangladesh  Neither satisfied nor dissatisfied    0.476033
                                                    ...
Sweden      Very dissatisfied                     0.039246
Hungary     Very dissatisfied                     0.038986
Singapore   Very dissatisfied                     0.033003
Norway      Very dissatisfied                     0.027875
Slovakia    Very dissatisfied                     0.026923
Name: JobSat, Length: 250, dtype: float64