In [1]:
import pandas as pd
import numpy as np
import datetime as dt

people = {
    "first":['Corey', 'Jane', 'John'],
    "last":['Schafer', 'Doe', 'Smith'],
    "email":['CoreySchafer@gmail.com','JaneDoe@hotmail.com','JohnSmith@outlook.com'],
}


pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_colwidth', None)  


pd.set_option('display.float_format', lambda x: '%.4f' % x)


survey_source = '/Users/josephyu/Documents/GitHub/data/survey_results_public.csv'
schema_source = '/Users/josephyu/Documents/GitHub/data/survey_results_schema.csv'
dt_source = '/Users/josephyu/Documents/GitHub/data/ETH_1h.csv'


df = pd.read_csv(survey_source, index_col = 'Respondent')
schema_df = pd.read_csv(schema_source, index_col = 'Column')
pp_df = pd.DataFrame(people)
dt_df = pd.read_csv(dt_source)

In [49]:
format = '%Y-%m-%d %I-%p'

date_parser = lambda x: pd.datetime.strptime(x, format)
df = pd.read_csv(dt_source, parse_dates=['Date'], date_parser=date_parser, index_col='Date')

df

                     Symbol     Open     High      Low    Close       Volume
Date
2020-03-13 20:00:00  ETHUSD 129.9400 131.8200 126.8700 128.7100 1940673.9300
2020-03-13 19:00:00  ETHUSD 119.5100 132.0200 117.1000 129.9400 7579741.0900
2020-03-13 18:00:00  ETHUSD 124.4700 124.8500 115.5000 119.5100 4898735.8100
2020-03-13 17:00:00  ETHUSD 124.0800 127.4200 121.6300 124.4700 2753450.9200
2020-03-13 16:00:00  ETHUSD 124.8500 129.5100 120.1700 124.0800 4461424.7100
...                     ...      ...      ...      ...      ...          ...
2017-07-01 15:00:00  ETHUSD 265.7400 272.7400 265.0000 272.5700 1500282.5500
2017-07-01 14:00:00  ETHUSD 268.7900 269.9000 265.0000 265.7400 1702536.8500
2017-07-01 13:00:00  ETHUSD 274.8300 274.9300 265.0000 268.7900 3010787.9900
2017-07-01 12:00:00  ETHUSD 275.0100 275.0100 271.0000 274.8300  824362.8700
2017-07-01 11:00:00  ETHUSD 279.9800 279.9900 272.1000 275.0100  679358.8700

[23674 rows x 6 columns]