In [6]:
import pandas as pd
import numpy as np
import datetime as dt

people = {
    "first":['Corey', 'Jane', 'John'],
    "last":['Schafer', 'Doe', 'Smith'],
    "email":['CoreySchafer@gmail.com','JaneDoe@hotmail.com','JohnSmith@outlook.com'],
}


pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_colwidth', None)  


pd.set_option('display.float_format', lambda x: '%.4f' % x)


survey_source = '/Users/josephyu/Documents/GitHub/data/survey_results_public.csv'
schema_source = '/Users/josephyu/Documents/GitHub/data/survey_results_schema.csv'
dt_source = '/Users/josephyu/Documents/GitHub/data/ETH_1h.csv'


df = pd.read_csv(survey_source, index_col = 'Respondent')
schema_df = pd.read_csv(schema_source, index_col = 'Column')
pp_df = pd.DataFrame(people)

dt_df = pd.read_csv(dt_source)

"""
Ultimate Guide to transform string into datetime64

Method 1 of 2:

format = '%Y-%m-%d %I-%p'
pd.datetime.strptime(x, format)


Method 2 of 2: ⭐️⭐️⭐️

format = '%Y-%m-%d %I-%p'
date_parser = lambda x: pd.datetime.strptime(x, format)
df = pd.read_csv(dt_source, parse_dates=['Date'], date_parser=date_parser, index_col='Date')
"""

In [86]:
df = pd.read_csv(dt_source)

df

,Date,Symbol,Open,High,Low,Close,Volume
0,2020-03-13 08-PM,ETHUSD,129.9400,131.8200,126.8700,128.7100,1940673.9300
1,2020-03-13 07-PM,ETHUSD,119.5100,132.0200,117.1000,129.9400,7579741.0900
2,2020-03-13 06-PM,ETHUSD,124.4700,124.8500,115.5000,119.5100,4898735.8100
3,2020-03-13 05-PM,ETHUSD,124.0800,127.4200,121.6300,124.4700,2753450.9200
4,2020-03-13 04-PM,ETHUSD,124.8500,129.5100,120.1700,124.0800,4461424.7100
...,...,...,...,...,...,...,...
23669,2017-07-01 03-PM,ETHUSD,265.7400,272.7400,265.0000,272.5700,1500282.5500
23670,2017-07-01 02-PM,ETHUSD,268.7900,269.9000,265.0000,265.7400,1702536.8500
23671,2017-07-01 01-PM,ETHUSD,274.8300,274.9300,265.0000,268.7900,3010787.9900
23672,2017-07-01 12-PM,ETHUSD,275.0100,275.0100,271.0000,274.8300,824362.8700
23673,2017-07-01 11-AM,ETHUSD,279.9800,279.9900,272.1000,275.0100,679358.8700

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23674 entries, 0 to 23673
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    23674 non-null  object
 1   Symbol  23674 non-null  object
 2   Open    23674 non-null  float64
 3   High    23674 non-null  float64
 4   Low     23674 non-null  float64
 5   Close   23674 non-null  float64
 6   Volume  23674 non-null  float64
dtypes: float64(5), object(2)
memory usage: 1.3+ MB

In [90]:
format = '%Y-%m-%d %I-%p'

df['Date'] = pd.to_datetime(df['Date'], format=format)

In [94]:
df.set_index('Date', inplace=True)

df

                     Symbol     Open     High      Low    Close       Volume
Date
2020-03-13 20:00:00  ETHUSD 129.9400 131.8200 126.8700 128.7100 1940673.9300
2020-03-13 19:00:00  ETHUSD 119.5100 132.0200 117.1000 129.9400 7579741.0900
2020-03-13 18:00:00  ETHUSD 124.4700 124.8500 115.5000 119.5100 4898735.8100
2020-03-13 17:00:00  ETHUSD 124.0800 127.4200 121.6300 124.4700 2753450.9200
2020-03-13 16:00:00  ETHUSD 124.8500 129.5100 120.1700 124.0800 4461424.7100
...                     ...      ...      ...      ...      ...          ...
2017-07-01 15:00:00  ETHUSD 265.7400 272.7400 265.0000 272.5700 1500282.5500
2017-07-01 14:00:00  ETHUSD 268.7900 269.9000 265.0000 265.7400 1702536.8500
2017-07-01 13:00:00  ETHUSD 274.8300 274.9300 265.0000 268.7900 3010787.9900
2017-07-01 12:00:00  ETHUSD 275.0100 275.0100 271.0000 274.8300  824362.8700
2017-07-01 11:00:00  ETHUSD 279.9800 279.9900 272.1000 275.0100  679358.8700

[23674 rows x 6 columns]

In [133]:
format = '%Y-%m-%d %I-%p'
date_parser = lambda x: pd.datetime.strptime(x, format)
df = pd.read_csv(dt_source, parse_dates=['Date'], date_parser=date_parser)

In [134]:
df

,Date,Symbol,Open,High,Low,Close,Volume
0,2020-03-13 20:00:00,ETHUSD,129.9400,131.8200,126.8700,128.7100,1940673.9300
1,2020-03-13 19:00:00,ETHUSD,119.5100,132.0200,117.1000,129.9400,7579741.0900
2,2020-03-13 18:00:00,ETHUSD,124.4700,124.8500,115.5000,119.5100,4898735.8100
3,2020-03-13 17:00:00,ETHUSD,124.0800,127.4200,121.6300,124.4700,2753450.9200
4,2020-03-13 16:00:00,ETHUSD,124.8500,129.5100,120.1700,124.0800,4461424.7100
...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.7400,272.7400,265.0000,272.5700,1500282.5500
23670,2017-07-01 14:00:00,ETHUSD,268.7900,269.9000,265.0000,265.7400,1702536.8500
23671,2017-07-01 13:00:00,ETHUSD,274.8300,274.9300,265.0000,268.7900,3010787.9900
23672,2017-07-01 12:00:00,ETHUSD,275.0100,275.0100,271.0000,274.8300,824362.8700
23673,2017-07-01 11:00:00,ETHUSD,279.9800,279.9900,272.1000,275.0100,679358.8700