In [6]:
import pandas as pd
import numpy as np
import datetime as dt

people = {
    "first":['Corey', 'Jane', 'John'],
    "last":['Schafer', 'Doe', 'Smith'],
    "email":['CoreySchafer@gmail.com','JaneDoe@hotmail.com','JohnSmith@outlook.com'],
}


pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_colwidth', None)  


pd.set_option('display.float_format', lambda x: '%.4f' % x)


survey_source = '/Users/josephyu/Documents/GitHub/data/survey_results_public.csv'
schema_source = '/Users/josephyu/Documents/GitHub/data/survey_results_schema.csv'
dt_source = '/Users/josephyu/Documents/GitHub/data/ETH_1h.csv'


df = pd.read_csv(survey_source, index_col = 'Respondent')
schema_df = pd.read_csv(schema_source, index_col = 'Column')
pp_df = pd.DataFrame(people)

dt_df = pd.read_csv(dt_source)

In [12]:
format = '%Y-%m-%d %I-%p'
date_parser = lambda x: pd.datetime.strptime(x, format)

df = pd.read_csv(dt_source, parse_dates=['Date'], date_parser=date_parser)

df

,Date,Symbol,Open,High,Low,Close,Volume
0,2020-03-13 20:00:00,ETHUSD,129.9400,131.8200,126.8700,128.7100,1940673.9300
1,2020-03-13 19:00:00,ETHUSD,119.5100,132.0200,117.1000,129.9400,7579741.0900
2,2020-03-13 18:00:00,ETHUSD,124.4700,124.8500,115.5000,119.5100,4898735.8100
3,2020-03-13 17:00:00,ETHUSD,124.0800,127.4200,121.6300,124.4700,2753450.9200
4,2020-03-13 16:00:00,ETHUSD,124.8500,129.5100,120.1700,124.0800,4461424.7100
...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.7400,272.7400,265.0000,272.5700,1500282.5500
23670,2017-07-01 14:00:00,ETHUSD,268.7900,269.9000,265.0000,265.7400,1702536.8500
23671,2017-07-01 13:00:00,ETHUSD,274.8300,274.9300,265.0000,268.7900,3010787.9900
23672,2017-07-01 12:00:00,ETHUSD,275.0100,275.0100,271.0000,274.8300,824362.8700
23673,2017-07-01 11:00:00,ETHUSD,279.9800,279.9900,272.1000,275.0100,679358.8700

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23674 entries, 0 to 23673
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    23674 non-null  datetime64[ns]
 1   Symbol  23674 non-null  object
 2   Open    23674 non-null  float64
 3   High    23674 non-null  float64
 4   Low     23674 non-null  float64
 5   Close   23674 non-null  float64
 6   Volume  23674 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 1.3+ MB

In [18]:
df.set_index('Date', inplace=True)

In [22]:
# ðŸŽ¯ How to print out floats without e+08 ....
# ðŸ§  df.resample().agg(dict) -> resample().agg()

method_dict = {'Close': 'mean', 'High': 'max', 'Low': 'min', 'Volume': 'sum'}

df.resample('15D').agg(method_dict)

               Close      High      Low          Volume
Date
2017-07-01  237.6502  293.7300 167.0000  714711608.5300
2017-07-16  204.5083  249.4000 130.2600 1080478483.1100
2017-07-31  262.4048  319.7000 190.7800  828108025.7700
2017-08-15  316.4758  374.9100 267.0000  617673870.3000
2017-08-30  331.6335  396.8800 256.4100  976483248.1500
2017-09-14  277.0632  312.7500 202.2500  759532254.6400
2017-09-29  301.8251  345.0000 280.9000  378561224.7500
2017-10-14  308.1525  350.0000 275.4600  435174365.8700
2017-10-29  302.7077  329.4700 278.8800  543323693.5500
2017-11-13  377.5944  492.9900 306.5000 1045647143.7900
2017-11-28  467.2441  714.0000 401.5000 2107317673.3200
2017-12-13  734.3759  875.0000 460.0000 3123321874.0400
2017-12-28  948.6239 1386.9900 676.0300 3361945111.3600
2018-01-12 1111.2423 1419.9600 757.0000 3873015014.6500
2018-01-27  944.1242 1224.0000 555.5600 3612393035.4000
2018-02-11  883.0499  982.9900 780.0000 1225957827.5000
2018-02-26  805.3398  894.0000 641.6000  802604950.4500
2018-03-13  559.6425  713.4500 445.0000 1064228039.0200
2018-03-28  397.5514  464.8900 360.0000  732892205.6800
2018-04-12  564.3097  711.0000 413.8100 1256514333.6000
2018-04-27  721.3412  828.9700 627.2000 1295222581.3200
2018-05-12  670.9247  745.0000 545.3600  908689692.4300
2018-05-27  581.6126  627.8300 505.0000  660689567.0200
2018-06-11  498.3238  547.4000 421.1000  707507688.7100
2018-06-26  456.4853  494.7400 404.2200  400129958.9400
2018-07-11  458.5718  515.8800 418.2300  395280602.2300
2018-07-26  424.8367  483.8800 347.1800  360246522.7300
2018-08-10  296.0838  366.4600 250.2800  600387432.7400
2018-08-25  270.3659  302.2000 190.0100  364176327.6600
2018-09-09  210.2683  255.0000 167.0000  534838930.1800
2018-09-24  224.0306  245.7900 203.3800  333946811.7700
2018-10-09  203.6362  228.4500 185.0600  252303279.0200
2018-10-24  201.8871  222.7800 191.0000  164448577.2100
2018-11-08  180.2090  218.2700 121.5000  407720786.0700
2018-11-23  110.1173  126.4500  81.0200  383075251.5100
2018-12-08   93.6073  120.0000  80.6000  266978948.7700
2018-12-23  138.2215  160.6100 112.2600  532646768.7400
2019-01-07  128.6898  157.1500 113.5000  257570739.5400
2019-01-22  109.8856  119.4100 100.9000  123666824.4400
2019-02-06  121.8877  149.4700 100.1500  223316147.8200
2019-02-21  137.8117  165.6200 122.7500  248566137.0500
2019-03-08  135.3874  147.0000 127.1900  138604515.0100
2019-03-23  146.0138  180.1000 130.6900  274848546.9400
2019-04-07  170.0640  187.6200 156.0000  291948157.6900
2019-04-22  160.9127  176.9400 146.0000  240301898.0300
2019-05-07  212.9192  281.7700 162.0000 1116643644.8600
2019-05-22  258.5570  288.7700 231.1200  656789565.4100
2019-06-06  256.1692  278.8300 226.5600  439175881.2400
2019-06-21  302.4801  364.4900 270.4200 1010873324.0100
2019-07-06  259.3216  318.6000 190.1100  666940903.7400
2019-07-21  215.8060  229.8500 197.0000  285204223.9800
2019-08-05  207.0307  239.4500 171.0000  280466380.3700
2019-08-20  182.3009  202.8100 163.5700  182279709.1600
2019-09-04  183.8588  217.4900 164.9900  206524106.9100
2019-09-19  186.9469  224.7100 152.1100  340795586.9700
2019-10-04  180.0925  197.9300 167.5000  210639165.5000
2019-10-19  177.1229  199.5000 153.0000  232092425.5000
2019-11-03  185.2159  194.6000 177.0000  136783700.7400
2019-11-18  156.4347  183.9500 131.8000  221303509.5900
2019-12-03  144.4090  153.0000 119.5000  124746407.1300
2019-12-18  128.2889  137.8500 116.2500  122402428.7700
2020-01-02  143.0195  172.1800 125.5200  197938892.4300
2020-01-17  168.7826  186.8900 154.4800  214070920.0700
2020-02-01  223.1299  290.0000 178.9800  545375808.3600
2020-02-16  251.6580  287.1300 209.2600  739149513.7900
2020-03-02  207.8607  253.0100  90.0000  772056720.7700