In [19]:
import pandas as pd
import numpy as np

people = {
    "first":['Corey', 'Jane', 'John'],
    "last":['Schafer', 'Doe', 'Smith'],
    "email":['CoreySchafer@gmail.com','JaneDoe@hotmail.com','JohnSmith@outlook.com'],
}


pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_colwidth', None)  


# pd.set_option('display.float_format', lambda x: '%.4f' % x)


survey_source = '/Users/josephyu/Documents/GitHub/data/survey_results_public.csv'
schema_source = '/Users/josephyu/Documents/GitHub/data/survey_results_schema.csv'


df = pd.read_csv(survey_source, index_col = 'Respondent')
schema_df = pd.read_csv(schema_source, index_col = 'Column')
pp_df = pd.DataFrame(people)

In [108]:
df.shape

(88883, 84)

In [23]:
df.shape

(88883, 84)

In [51]:
df.isna().sum().sort_values()[:10]

Hobbyist          0
OpenSourcer       0
Country         132
MainBranch      552
SOVisitFreq     620
SOComm          752
SOVisitTo       797
SOJobs          817
YearsCode       945
OpSys          1032
dtype: int64

In [52]:
df.isna().mean().sort_values(ascending=True)[:10]

Hobbyist      0.0000
OpenSourcer   0.0000
Country       0.0015
MainBranch    0.0062
SOVisitFreq   0.0070
SOComm        0.0085
SOVisitTo     0.0090
SOJobs        0.0092
YearsCode     0.0106
OpSys         0.0116
dtype: float64

In [65]:
carrol = df['Country'].value_counts().head(100)[:'China']

In [67]:
df.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [76]:
for item in df['LanguageWorkedWith'].head(10):
    print(item.split(';'))

['HTML/CSS', 'Java', 'JavaScript', 'Python']
['C++', 'HTML/CSS', 'Python']
['HTML/CSS']
['C', 'C++', 'C#', 'Python', 'SQL']
['C++', 'HTML/CSS', 'Java', 'JavaScript', 'Python', 'SQL', 'VBA']
['Java', 'R', 'SQL']
['HTML/CSS', 'JavaScript']
['Bash/Shell/PowerShell', 'C', 'C++', 'HTML/CSS', 'Java', 'JavaScript', 'Python', 'SQL']
['Bash/Shell/PowerShell', 'C#', 'HTML/CSS', 'JavaScript', 'Python', 'Ruby', 'Rust', 'SQL', 'TypeScript', 'WebAssembly', 'Other(s):']
['C#', 'Go', 'JavaScript', 'Python', 'R', 'SQL']

In [126]:
filt = df['LanguageWorkedWith'].str.contains("Python", na=False) # Boolean -> True / False 

df[filt].groupby('Country').median()['ConvertedComp'].sort_values(ascending=False).head(25)

Country
Liechtenstein                      811188.0000
San Marino                         577452.0000
Qatar                              539780.0000
Timor-Leste                        229500.0000
United States                      116000.0000
Democratic Republic of the Congo   110484.0000
Israel                              98964.0000
Switzerland                         90920.5000
Denmark                             81024.0000
Norway                              80280.5000
Ireland                             80202.0000
Australia                           79783.0000
Iceland                             70152.0000
Luxembourg                          68745.0000
Canada                              68705.0000
United Kingdom                      68041.0000
Kuwait                              65700.0000
Germany                             63016.0000
Seychelles                          61308.0000
New Zealand                         60693.5000
Singapore                           58795.5000
Netherlands                         57744.0000
Sweden                              57000.0000
Finland                             56142.0000
United Arab Emirates                55540.0000
Name: ConvertedComp, dtype: float64

In [86]:
df['ConvertedComp'].head()

Respondent
1          NaN
2          NaN
3    8820.0000
4   61000.0000
5          NaN
Name: ConvertedComp, dtype: float64

In [95]:
# key word 'Python' # group by country


df.groupby('Country')['ConvertedComp'].median().sort_values(ascending=False).head(25)

Country
Liechtenstein                      811188.0000
San Marino                         301788.0000
Timor-Leste                        229500.0000
Andorra                            160931.0000
Democratic Republic of the Congo   110484.0000
United States                      110000.0000
Switzerland                         95440.0000
Israel                              90720.0000
Ireland                             83640.0000
Denmark                             82860.0000
Australia                           79783.0000
Norway                              79512.0000
Qatar                               79326.0000
Luxembourg                          74364.0000
Iceland                             70152.0000
Canada                              68705.0000
United Kingdom                      68041.0000
New Zealand                         63452.0000
Germany                             63016.0000
Swaziland                           62371.0000
Seychelles                          61308.0000
Libyan Arab Jamahiriya              58158.0000
Singapore                           57758.5000
Netherlands                         57287.0000
Sweden                              56004.0000
Name: ConvertedComp, dtype: float64

In [ ]:
df['']

In [43]:
df.isna().mean().sort_values()[-10:]

MgrWant              0.3111
MgrIdiot             0.3119
MgrMoney             0.3119
PurchaseHow          0.3125
BlockchainIs         0.3231
MiscTechWorkedWith   0.3296
CompTotal            0.3706
ConvertedComp        0.3719
CodeRevHrs           0.4398
BlockchainOrg        0.4580
dtype: float64

In [274]:
df.sample()

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
45133,I am a developer by profession,No,Never,The quality of OSS and closed source software is about the same,Employed full-time,United States,No,"Master‚Äôs degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, electrical, mechanical)",Taken an online course in programming or software development (e.g. a MOOC);Taken a part-time in-person course in programming or software development,500 to 999 employees,"Developer, full-stack",14,17,8,Slightly dissatisfied,Slightly satisfied,Very confident,No,No,I am not interested in new job opportunities,More than 4 years ago,Interview with people in senior / management roles,No,Remote work options;Opportunities for professional development;Flex time or a flexible schedule,"My job status changed (promotion, new job, etc.)",USD,United States dollar,NaN,NaN,NaN,40.0000,"There is a schedule and/or spec (made by me or by a colleague), and my work somewhat aligns","Non-work commitments (parenting, school work, hobbies, etc.);Not enough people for the workload;Time spent commuting","Less than half the time, but at least one day each week",Office,A little above average,"Yes, because I see value in code review",4.0000,"No, but I think we should","The CTO, CIO, or other management purchase new technology typically without the involvement of developers",I have little or no influence,HTML/CSS;Java;JavaScript;SQL,C#;HTML/CSS;Java;JavaScript,Microsoft SQL Server,MongoDB;Microsoft SQL Server;MySQL;Redis,NaN,Android;Raspberry Pi,jQuery;Spring;Other(s):,Angular/Angular.js;React.js;Vue.js;Other(s):,NaN,NaN,NetBeans;Notepad++;Visual Studio Code,Windows,I do not use containers,Not at all,NaN,Yes,Yes,Yes,Facebook,Online,Username,2008,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was slightly faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board but have never used or visited it","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,NaN,30.0000,Man,No,Straight / Heterosexual,East Asian,Yes,Appropriate in length,Easy

In [275]:
# ConvertedComp

df['ConvertedComp'].median()

57287.0

In [276]:
df.select_dtypes(include=np.number).median()

CompTotal       62000.0000
ConvertedComp   57287.0000
WorkWeekHrs        40.0000
CodeRevHrs          4.0000
Age                29.0000
dtype: float64

In [277]:
df.median()

CompTotal       62000.0000
ConvertedComp   57287.0000
WorkWeekHrs        40.0000
CodeRevHrs          4.0000
Age                29.0000
dtype: float64

In [278]:
df.describe().loc['50%']

CompTotal       62000.0000
ConvertedComp   57287.0000
WorkWeekHrs        40.0000
CodeRevHrs          4.0000
Age                29.0000
Name: 50%, dtype: float64

In [279]:
df.select_dtypes(include=np.number).columns.tolist()

['CompTotal', 'ConvertedComp', 'WorkWeekHrs', 'CodeRevHrs', 'Age']

In [280]:
for i in df.select_dtypes(include=np.number).columns.tolist():
    print(df[i].median())

62000.0
57287.0
40.0
4.0
29.0

In [281]:
df['Hobbyist'].value_counts().values

array([71257, 17626])

In [282]:
71257 + 17626

88883

In [283]:
df.shape

(88883, 84)

In [284]:
(df.isna().mean().sort_values() * 100)['WebFrameWorkedWith':]

WebFrameWorkedWith       26.8454
MiscTechDesireNextYear   27.4203
WorkWeekHrs              27.4293
CompFreq                 28.8188
WebFrameDesireNextYear   29.1833
UnitTests                29.4938
PurchaseWhat             30.2128
MgrWant                  31.1094
MgrIdiot                 31.1916
MgrMoney                 31.1938
PurchaseHow              31.2489
BlockchainIs             32.3099
MiscTechWorkedWith       32.9613
CompTotal                37.0577
ConvertedComp            37.1950
CodeRevHrs               43.9825
BlockchainOrg            45.7995
dtype: float64

In [285]:
# What social media platform they use the most # SocialMedia

df['SocialMedia'].value_counts()#.values.tolist()

Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat ÂæÆ‰ø°                     667
Snapchat                      628
VK –í–ö–æ–Ω—Ç–∞ÃÅ–∫—Ç–µ                 603
Weibo Êñ∞Êµ™ÂæÆÂçö                     56
Youku Tudou ‰ºòÈÖ∑                 21
Hello                          19
Name: SocialMedia, dtype: int64

In [286]:
df.groupby('Country')['SocialMedia'].value_counts(normalize=True).loc['China']

SocialMedia
WeChat ÂæÆ‰ø°                  0.6705
YouTube                    0.0882
Weibo Êñ∞Êµ™ÂæÆÂçö                 0.0699
I don't use social media   0.0449
Twitter                    0.0449
Reddit                     0.0200
LinkedIn                   0.0183
Facebook                   0.0133
Instagram                  0.0116
Youku Tudou ‰ºòÈÖ∑             0.0116
WhatsApp                   0.0050
VK –í–ö–æ–Ω—Ç–∞ÃÅ–∫—Ç–µ              0.0017
Name: SocialMedia, dtype: float64

In [287]:
df.groupby('Country')['SocialMedia'].value_counts(normalize=True).loc['United States']

SocialMedia
Reddit                     0.2843
Twitter                    0.1730
Facebook                   0.1419
YouTube                    0.1229
I don't use social media   0.0923
Instagram                  0.0824
LinkedIn                   0.0509
WhatsApp                   0.0304
Snapchat                   0.0163
WeChat ÂæÆ‰ø°                  0.0046
VK –í–ö–æ–Ω—Ç–∞ÃÅ–∫—Ç–µ              0.0004
Weibo Êñ∞Êµ™ÂæÆÂçö                 0.0004
Hello                      0.0001
Youku Tudou ‰ºòÈÖ∑             0.0000
Name: SocialMedia, dtype: float64

In [288]:
df.groupby('Country')['SocialMedia'].value_counts(normalize=True).loc['United States', 'WeChat ÂæÆ‰ø°']

0.0046393295420532775

In [289]:
df.groupby('Country')['SocialMedia'].value_counts(normalize=True).loc['China', 'WeChat ÂæÆ‰ø°']

0.670549084858569

In [290]:
# üß† df[].str.contains( , na=False)

filt = df['SocialMedia'].str.contains('WeChat ÂæÆ‰ø°', na=False)

df[filt]['Country'].value_counts().nlargest(18).index.tolist()
# df[filt]['Country'].value_counts()#.index.tolist()

['China',
 'United States',
 'Canada',
 'Australia',
 'Singapore',
 'Hong Kong (S.A.R.)',
 'France',
 'United Kingdom',
 'New Zealand',
 'Germany',
 'Japan',
 'India',
 'Malaysia',
 'Denmark',
 'Ireland',
 'Sweden',
 'Austria',
 'Switzerland']

In [291]:
tgt_country = df[filt]['Country'].value_counts().nlargest(18).index.tolist()

In [292]:
for country in tgt_country:
    print(country, df.groupby('Country')['SocialMedia'].value_counts(normalize=True).loc[country, 'WeChat ÂæÆ‰ø°'])

China 0.670549084858569
United States 0.0046393295420532775
Canada 0.01345977363107984
Australia 0.013385387618516454
Singapore 0.044673539518900345
Hong Kong (S.A.R.) 0.06779661016949153
France 0.00526085050416484
United Kingdom 0.001983411467724486
New Zealand 0.01996007984031936
Germany 0.001471129091577786
Japan 0.01652892561983471
India 0.0005725409366769724
Malaysia 0.010238907849829351
Denmark 0.005084745762711864
Ireland 0.004132231404958678
Sweden 0.0016220600162206002
Austria 0.0012853470437017994
Switzerland 0.0010741138560687433

In [293]:
df.describe().index

Index(['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'], dtype='object')

In [294]:
df.groupby('Country')['ConvertedComp'].agg(['count', 'mean', 'std', 'min', 'median', 'max'])#.loc['China']

,count,mean,std,min,median,max
Country,,,,,,
Afghanistan,12,101953.3333,285995.2418,0.0000,6222.0000,1000000.0000
Albania,50,21833.7000,31450.7667,1320.0000,10818.0000,187668.0000
Algeria,42,34924.0476,152933.6280,0.0000,7878.0000,1000000.0000
Andorra,2,160931.0000,15458.7685,150000.0000,160931.0000,171862.0000
Angola,1,7764.0000,NaN,7764.0000,7764.0000,7764.0000
...,...,...,...,...,...,...
"Venezuela, Bolivarian Republic of...",43,14581.6279,24218.7598,0.0000,6384.0000,137484.0000
Viet Nam,87,17233.4368,19921.5760,200.0000,11892.0000,140000.0000
Yemen,6,16909.1667,21847.4291,799.0000,11940.0000,60000.0000
Zambia,8,10075.3750,13200.3664,400.0000,5040.0000,40524.0000
Zimbabwe,15,34046.6667,44166.9700,900.0000,19200.0000,180000.0000

In [295]:
df['Country'].value_counts().loc['Liechtenstein']

3

In [296]:
# How many people in each country knows how to use Python?
# -> groupby country + keyword Python # LanguageWorkedWith

filt = df['LanguageWorkedWith'].str.contains('Python', na=False)

df['Knows_Python'] = filt.values.tolist()

In [297]:
df.iloc[:, -3:]

                     SurveyLength                  SurveyEase  Knows_Python
Respondent
1           Appropriate in length  Neither easy nor difficult          True
2           Appropriate in length  Neither easy nor difficult          True
3           Appropriate in length  Neither easy nor difficult         False
4           Appropriate in length                        Easy          True
5           Appropriate in length                        Easy          True
...                           ...                         ...           ...
88377       Appropriate in length                        Easy         False
88601                         NaN                         NaN         False
88802                         NaN                         NaN         False
88816                         NaN                         NaN         False
88863       Appropriate in length                        Easy         False

[88883 rows x 3 columns]

In [298]:
df['Country'].value_counts().head(25).index.tolist()

['United States',
 'India',
 'Germany',
 'United Kingdom',
 'Canada',
 'France',
 'Brazil',
 'Poland',
 'Australia',
 'Netherlands',
 'Russian Federation',
 'Spain',
 'Italy',
 'Sweden',
 'Switzerland',
 'Israel',
 'Turkey',
 'Pakistan',
 'Ukraine',
 'Austria',
 'Czech Republic',
 'Romania',
 'Iran',
 'Belgium',
 'China']

In [299]:
li_na = df['Country'].value_counts().head(50).index.tolist()

for na in li_na:
    print(na, df.groupby('Country')['Knows_Python'].value_counts(normalize=True).loc[na, True])

United States 0.48131175712444507
India 0.3426774086745392
Germany 0.41783157176951924
United Kingdom 0.41554819592121317
Canada 0.4589101620029455
France 0.44081974069427016
Brazil 0.39373716632443534
Poland 0.39073881373569197
Australia 0.41513399894902786
Netherlands 0.41414686825054
Russian Federation 0.4179456906729634
Spain 0.39962593516209477
Italy 0.3965736040609137
Sweden 0.3893249607535322
Switzerland 0.4703476482617587
Israel 0.4800420168067227
Turkey 0.3909378292939937
Pakistan 0.27193932827735645
Ukraine 0.2834101382488479
Austria 0.4028605482717521
Czech Republic 0.3730366492146597
Romania 0.33289473684210524
Iran 0.36314363143631434
Belgium 0.40715268225584594
China 0.44728915662650603
Bulgaria 0.2746585735963581
Mexico 0.38161993769470404
South Africa 0.32216905901116427
Denmark 0.3987034035656402
Bangladesh 0.3371900826446281
Norway 0.40418118466898956
Greece 0.4064748201438849
Argentina 0.3453887884267631
Finland 0.48717948717948717
Portugal 0.3466666666666667
New Zealand 0.45038167938931295
Nigeria 0.29118773946360155
Hungary 0.3723196881091618
Indonesia 0.29191321499013806
Ireland 0.4171656686626746
Serbia 0.291044776119403
Japan 0.46547314578005117
Philippines 0.30708661417322836
Sri Lanka 0.3682795698924731
Egypt 0.34365325077399383
Colombia 0.3450479233226837
Singapore 0.45874587458745875
Malaysia 0.3177257525083612
Slovenia 0.39932885906040266
Slovakia 0.38846153846153847

In [300]:
li_country = df['Country'].value_counts().head(50).index.tolist()

li_pct = []

for country in li_country:
    # print(country, df.groupby('Country')['Knows_Python'].value_counts(normalize=True).loc[country, True])
    li_pct.append(df.groupby('Country')['Knows_Python'].value_counts(normalize=True).loc[country, True])

In [301]:
pct_df = pd.DataFrame({
    'Region': li_country,
    'Pct_Python': li_pct,
})

In [302]:
def python_stats(num_of_country):
    # prepare two lists for 
    li_country = df['Country'].value_counts().head(num_of_country).index.tolist()
    li_pct = []

    for country in li_country:
        li_pct.append(df.groupby('Country')['Knows_Python'].value_counts(normalize=True).loc[country, True])

    pct_df = pd.DataFrame({
    'Region': li_country,
    'Pct_Python': li_pct,
    })

    return pct_df

In [303]:
new_df = python_stats(50).set_index('Region')

new_df

                    Pct_Python
Region
United States           0.4813
India                   0.3427
Germany                 0.4178
United Kingdom          0.4155
Canada                  0.4589
France                  0.4408
Brazil                  0.3937
Poland                  0.3907
Australia               0.4151
Netherlands             0.4141
Russian Federation      0.4179
Spain                   0.3996
Italy                   0.3966
Sweden                  0.3893
Switzerland             0.4703
Israel                  0.4800
Turkey                  0.3909
Pakistan                0.2719
Ukraine                 0.2834
Austria                 0.4029
Czech Republic          0.3730
Romania                 0.3329
Iran                    0.3631
Belgium                 0.4072
China                   0.4473
Bulgaria                0.2747
Mexico                  0.3816
South Africa            0.3222
Denmark                 0.3987
Bangladesh              0.3372
Norway                  0.4042
Greece                  0.4065
Argentina               0.3454
Finland                 0.4872
Portugal                0.3467
New Zealand             0.4504
Nigeria                 0.2912
Hungary                 0.3723
Indonesia               0.2919
Ireland                 0.4172
Serbia                  0.2910
Japan                   0.4655
Philippines             0.3071
Sri Lanka               0.3683
Egypt                   0.3437
Colombia                0.3450
Singapore               0.4587
Malaysia                0.3177
Slovenia                0.3993
Slovakia                0.3885

In [309]:
df.describe().index

Index(['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'], dtype='object')

In [318]:
filt = df['Country'].isin(li_country)

stat_df = df[filt].groupby('Country')['ConvertedComp'].agg(['mean', 'std', 'min', 'median', 'max'])

In [319]:
# 

# https://stackoverflow.com/a/40468090/15063197

stat_df

                          mean         std       min      median          max
Country
Argentina           29467.2653  46412.5768   12.0000  17760.0000  497412.0000
Australia          171541.1163 264157.6881    0.0000  79783.0000 1000000.0000
Austria             83955.6396 149323.0239    0.0000  51559.0000 1000000.0000
Bangladesh          21249.6520  84265.5256    0.0000   8764.0000 1200000.0000
Belgium             73185.5647 112377.4572 2521.0000  48120.0000 1000000.0000
Brazil              32623.5700  81082.4420    0.0000  18036.0000 1000000.0000
Bulgaria            42642.4194  85792.1340  936.0000  28080.0000 1000000.0000
Canada             134018.5649 229255.5679    0.0000  68705.0000 2000000.0000
China               57430.4211 127209.0610   10.0000  28464.0000  889560.0000
Colombia            24502.8762  34218.7708    0.0000  15528.0000  291264.0000
Czech Republic      42486.6418  48860.8599    0.0000  35637.0000  641472.0000
Denmark            113769.5548 157030.5945 7412.0000  82860.0000 1000000.0000
Egypt               13923.0265  22411.8035    0.0000   8844.0000  170016.0000
Finland             72175.5681 106391.6488 6015.0000  55569.0000  962424.0000
France              81214.7797 135682.6481    0.0000  46752.0000 1000000.0000
Germany            109256.8841 187384.5957    0.0000  63016.0000 2000000.0000
Greece              46033.7630 104307.8771    0.0000  22457.0000 1000000.0000
Hungary             33823.5532  50130.7599    0.0000  26412.0000  866088.0000
India               28057.6649  85630.0036    0.0000  10080.0000 2000000.0000
Indonesia           30986.4104 135543.2354    0.0000   7740.0000 1000000.0000
Iran                16981.2452  51585.2610    0.0000  10620.0000 1000000.0000
Ireland            250342.2391 327004.1527    0.0000  83640.0000 1000000.0000
Israel              94944.3765  81949.0112    0.0000  90720.0000 1000000.0000
Italy               89535.8439 156187.4273    0.0000  35518.0000 1000000.0000
Japan               88246.2885 145645.2569    4.0000  51326.5000 1000000.0000
Malaysia            22988.0000  39565.3992    0.0000  16890.0000  456972.0000
Mexico              30372.4622 100183.2006    0.0000  16968.0000 2000000.0000
Netherlands        100845.0726 172042.3484    0.0000  57287.0000 2000000.0000
New Zealand        151681.8039 256560.9154    0.0000  63452.0000 1000000.0000
Nigeria             16828.8693  74709.7669    0.0000   5988.0000 1000000.0000
Norway             182298.9402 270245.2678    0.0000  79512.0000 1000000.0000
Pakistan            12115.1991  47247.7943  100.0000   7368.0000  963048.0000
Philippines         16302.5855  21292.4700  350.0000   9750.0000  149112.0000
Poland              38860.4413  39190.5706    0.0000  32064.0000  570756.0000
Portugal            50631.6067 105347.4715   30.0000  26124.0000 1000000.0000
Romania             45733.0361  83073.1494    0.0000  31224.0000  925320.0000
Russian Federation  31124.3834  81567.4806    0.0000  23832.0000 1800000.0000
Serbia              34142.2773  50960.2749  104.0000  24672.0000  660000.0000
Singapore          120621.5064 236636.3260 3996.0000  57758.5000 2000000.0000
Slovakia            43292.9067  68983.0958 1850.0000  32658.0000  618708.0000
Slovenia            55717.8039 100878.9151   46.0000  34368.0000  907428.0000
South Africa        63550.6029 122848.7835    0.0000  38354.0000 1000000.0000
Spain               88724.3573 150175.5375    0.0000  40101.0000 1000000.0000
Sri Lanka           13568.0121  31039.2083   66.0000   7476.0000  360000.0000
Sweden              76865.6362 106229.8631   60.0000  56004.0000 1000000.0000
Switzerland        172675.6027 260551.5161    0.0000  95440.0000 2000000.0000
Turkey              25133.2227  56946.0365    0.0000  17280.0000 1000000.0000
Ukraine             32698.1365  50158.7789    0.0000  26940.0000  792000.0000
United Kingdom     166182.4995 243496.7907    0.0000  68041.0000 2000000.0000
United States      249546.2546 452103.4965    0.0000 110000.0000 2000000.0000

In [322]:
# üß† pd.concat([df1, df2], axis=1) ‚≠ê

pd.concat([new_df, stat_df], axis=1)

,Pct_Python,mean,std,min,median,max
United States,0.4813,249546.2546,452103.4965,0.0000,110000.0000,2000000.0000
India,0.3427,28057.6649,85630.0036,0.0000,10080.0000,2000000.0000
Germany,0.4178,109256.8841,187384.5957,0.0000,63016.0000,2000000.0000
United Kingdom,0.4155,166182.4995,243496.7907,0.0000,68041.0000,2000000.0000
Canada,0.4589,134018.5649,229255.5679,0.0000,68705.0000,2000000.0000
France,0.4408,81214.7797,135682.6481,0.0000,46752.0000,1000000.0000
Brazil,0.3937,32623.5700,81082.4420,0.0000,18036.0000,1000000.0000
Poland,0.3907,38860.4413,39190.5706,0.0000,32064.0000,570756.0000
Australia,0.4151,171541.1163,264157.6881,0.0000,79783.0000,1000000.0000
Netherlands,0.4141,100845.0726,172042.3484,0.0000,57287.0000,2000000.0000
Russian Federation,0.4179,31124.3834,81567.4806,0.0000,23832.0000,1800000.0000
Spain,0.3996,88724.3573,150175.5375,0.0000,40101.0000,1000000.0000
Italy,0.3966,89535.8439,156187.4273,0.0000,35518.0000,1000000.0000
Sweden,0.3893,76865.6362,106229.8631,60.0000,56004.0000,1000000.0000
Switzerland,0.4703,172675.6027,260551.5161,0.0000,95440.0000,2000000.0000
Israel,0.4800,94944.3765,81949.0112,0.0000,90720.0000,1000000.0000
Turkey,0.3909,25133.2227,56946.0365,0.0000,17280.0000,1000000.0000
Pakistan,0.2719,12115.1991,47247.7943,100.0000,7368.0000,963048.0000
Ukraine,0.2834,32698.1365,50158.7789,0.0000,26940.0000,792000.0000
Austria,0.4029,83955.6396,149323.0239,0.0000,51559.0000,1000000.0000
Czech Republic,0.3730,42486.6418,48860.8599,0.0000,35637.0000,641472.0000
Romania,0.3329,45733.0361,83073.1494,0.0000,31224.0000,925320.0000
Iran,0.3631,16981.2452,51585.2610,0.0000,10620.0000,1000000.0000
Belgium,0.4072,73185.5647,112377.4572,2521.0000,48120.0000,1000000.0000
China,0.4473,57430.4211,127209.0610,10.0000,28464.0000,889560.0000
Bulgaria,0.2747,42642.4194,85792.1340,936.0000,28080.0000,1000000.0000
Mexico,0.3816,30372.4622,100183.2006,0.0000,16968.0000,2000000.0000
South Africa,0.3222,63550.6029,122848.7835,0.0000,38354.0000,1000000.0000
Denmark,0.3987,113769.5548,157030.5945,7412.0000,82860.0000,1000000.0000
Bangladesh,0.3372,21249.6520,84265.5256,0.0000,8764.0000,1200000.0000
Norway,0.4042,182298.9402,270245.2678,0.0000,79512.0000,1000000.0000
Greece,0.4065,46033.7630,104307.8771,0.0000,22457.0000,1000000.0000
Argentina,0.3454,29467.2653,46412.5768,12.0000,17760.0000,497412.0000
Finland,0.4872,72175.5681,106391.6488,6015.0000,55569.0000,962424.0000
Portugal,0.3467,50631.6067,105347.4715,30.0000,26124.0000,1000000.0000
New Zealand,0.4504,151681.8039,256560.9154,0.0000,63452.0000,1000000.0000
Nigeria,0.2912,16828.8693,74709.7669,0.0000,5988.0000,1000000.0000
Hungary,0.3723,33823.5532,50130.7599,0.0000,26412.0000,866088.0000
Indonesia,0.2919,30986.4104,135543.2354,0.0000,7740.0000,1000000.0000
Ireland,0.4172,250342.2391,327004.1527,0.0000,83640.0000,1000000.0000
Serbia,0.2910,34142.2773,50960.2749,104.0000,24672.0000,660000.0000
Japan,0.4655,88246.2885,145645.2569,4.0000,51326.5000,1000000.0000
Philippines,0.3071,16302.5855,21292.4700,350.0000,9750.0000,149112.0000
Sri Lanka,0.3683,13568.0121,31039.2083,66.0000,7476.0000,360000.0000
Egypt,0.3437,13923.0265,22411.8035,0.0000,8844.0000,170016.0000
Colombia,0.3450,24502.8762,34218.7708,0.0000,15528.0000,291264.0000
Singapore,0.4587,120621.5064,236636.3260,3996.0000,57758.5000,2000000.0000
Malaysia,0.3177,22988.0000,39565.3992,0.0000,16890.0000,456972.0000
Slovenia,0.3993,55717.8039,100878.9151,46.0000,34368.0000,907428.0000
Slovakia,0.3885,43292.9067,68983.0958,1850.0000,32658.0000,618708.0000