In [10]:
import pandas as pd
import numpy as np

people = {
    "first":['Corey', 'Jane', 'John'],
    "last":['Schafer', 'Doe', 'Smith'],
    "email":['CoreySchafer@gmail.com','JaneDoe@hotmail.com','JohnSmith@outlook.com'],
}


pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_colwidth', None)  


pd.set_option('display.float_format', lambda x: '%.4f' % x)


survey_source = '/Users/josephyu/Documents/GitHub/data/survey_results_public.csv'
schema_source = '/Users/josephyu/Documents/GitHub/data/survey_results_schema.csv'


df = pd.read_csv(survey_source, index_col = 'Respondent')
schema_df = pd.read_csv(schema_source, index_col = 'Column')
pp_df = pd.DataFrame(people)

# ['Hobbyist', 'OpenSourcer', 'Region'] -> PERFECT Data Quality by column

In [11]:
df = pp_df

In [12]:
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe     JaneDoe@hotmail.com
2   John    Smith   JohnSmith@outlook.com

In [4]:
df['fullname'] = df['first'] + ' ' + df['last']

df

   first     last                   email       fullname
0  Corey  Schafer  CoreySchafer@gmail.com  Corey Schafer
1   Jane      Doe     JaneDoe@hotmail.com       Jane Doe
2   John    Smith   JohnSmith@outlook.com     John Smith