In [10]:
import pandas as pd
import numpy as np

people = {
    "first":['Corey', 'Jane', 'John'],
    "last":['Schafer', 'Doe', 'Smith'],
    "email":['CoreySchafer@gmail.com','JaneDoe@hotmail.com','JohnSmith@outlook.com'],
}


pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_colwidth', None)  


pd.set_option('display.float_format', lambda x: '%.4f' % x)


survey_source = '/Users/josephyu/Documents/GitHub/data/survey_results_public.csv'
schema_source = '/Users/josephyu/Documents/GitHub/data/survey_results_schema.csv'


df = pd.read_csv(survey_source, index_col = 'Respondent')
schema_df = pd.read_csv(schema_source, index_col = 'Column')
pp_df = pd.DataFrame(people)

# ['Hobbyist', 'OpenSourcer', 'Region'] -> PERFECT Data Quality by column

In [11]:
df = pp_df

In [14]:
df = df.applymap(str.strip)

In [16]:
df['name'] = df['first'] + ' ' + df['last']

In [17]:
df

   first     last                   email           name
0  Corey  Schafer  CoreySchafer@gmail.com  Corey Schafer
1   Jane      Doe     JaneDoe@hotmail.com       Jane Doe
2   John    Smith   JohnSmith@outlook.com     John Smith

In [20]:
df.drop(columns=['first', 'last'], inplace=True)

In [21]:
df

                    email           name
0  CoreySchafer@gmail.com  Corey Schafer
1     JaneDoe@hotmail.com       Jane Doe
2   JohnSmith@outlook.com     John Smith

In [24]:
df.set_index('email', inplace=True)

In [25]:
df.set_index('')

                                 name
email
CoreySchafer@gmail.com  Corey Schafer
JaneDoe@hotmail.com          Jane Doe
JohnSmith@outlook.com      John Smith

In [29]:
df.index = df.index.str.lower()

In [30]:
df

                                 name
email
coreyschafer@gmail.com  Corey Schafer
janedoe@hotmail.com          Jane Doe
johnsmith@outlook.com      John Smith

In [38]:
# ðŸ§  str.split('', expand=True) -> str.split( , expand=True)

df['name'].str.split(' ', expand=True)

                            0        1
email
coreyschafer@gmail.com  Corey  Schafer
janedoe@hotmail.com      Jane      Doe
johnsmith@outlook.com    John    Smith

In [39]:
df[['first_name', 'last_name']] = df['name'].str.split(' ', expand=True)

df

                                 name first_name last_name
email
coreyschafer@gmail.com  Corey Schafer      Corey   Schafer
janedoe@hotmail.com          Jane Doe       Jane       Doe
johnsmith@outlook.com      John Smith       John     Smith

In [51]:
df.loc['josephyu@gmail.com'] = {
    'name': 'Joseph Yu',
    'first_name': 'Joseph',
    'last_name': 'Yu'
    }

In [52]:
df

                                 name first_name last_name
email
coreyschafer@gmail.com  Corey Schafer      Corey   Schafer
janedoe@hotmail.com          Jane Doe       Jane       Doe
johnsmith@outlook.com      John Smith       John     Smith
josephyu@gmail.com          Joseph Yu     Joseph        Yu

In [57]:
# ðŸ§  df.append({dict}, ignore_index=True) -> ignore_index=True

df.append({
    'name': 'Adam Smith',
    # 'first_name': 'Joseph',
    # 'last_name': 'Yu'
    }, ignore_index=True)

            name first_name last_name
0  Corey Schafer      Corey   Schafer
1       Jane Doe       Jane       Doe
2     John Smith       John     Smith
3      Joseph Yu     Joseph        Yu
4     Adam Smith        NaN       NaN

In [55]:
df

                                 name first_name last_name
email
coreyschafer@gmail.com  Corey Schafer      Corey   Schafer
janedoe@hotmail.com          Jane Doe       Jane       Doe
johnsmith@outlook.com      John Smith       John     Smith
josephyu@gmail.com          Joseph Yu     Joseph        Yu

In [58]:
people = {
    "first":['Tony', 'Steve'],
    "last":['Stark', 'Rogers'],
    "email":['IronMan@avenge.com','Cap@avenge.com'],
}

In [59]:
df2= pd.DataFrame(people)

df2

   first    last               email
0   Tony   Stark  IronMan@avenge.com
1  Steve  Rogers      Cap@avenge.com

In [69]:
df2 = df2.append({
    "first":'Joseph',
    "last":'Yu',
    "email":'SuperMan@avenge.com',
}, ignore_index=True)

In [70]:
df2

    first    last                email
0    Tony   Stark   IronMan@avenge.com
1   Steve  Rogers       Cap@avenge.com
2  Joseph      Yu  SuperMan@avenge.com

In [82]:
df2.drop(columns=['last', 'first'])

                 email
0   IronMan@avenge.com
1       Cap@avenge.com
2  SuperMan@avenge.com

                                 name first_name last_name
email
coreyschafer@gmail.com  Corey Schafer      Corey   Schafer
janedoe@hotmail.com          Jane Doe       Jane       Doe
johnsmith@outlook.com      John Smith       John     Smith
josephyu@gmail.com          Joseph Yu     Joseph        Yu