In [81]:
import pandas as pd
import numpy as np

people = {
    "first":['Corey', 'Jane', 'John'],
    "last":['Schafer', 'Doe', 'Smith'],
    "email":['CoreySchafer@gmail.com','JaneDoe@hotmail.com','JohnSmith@outlook.com'],
}


pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_colwidth', None)  


pd.set_option('display.float_format', lambda x: '%.4f' % x)


survey_source = '/Users/josephyu/Documents/GitHub/data/survey_results_public.csv'
schema_source = '/Users/josephyu/Documents/GitHub/data/survey_results_schema.csv'


df = pd.read_csv(survey_source, index_col = 'Respondent')
schema_df = pd.read_csv(schema_source, index_col = 'Column')
pp_df = pd.DataFrame(people)

# ['Hobbyist', 'OpenSourcer', 'Region'] -> PERFECT Data Quality by column

In [82]:
df.columns = df.columns.str.strip()
df.rename(columns={"ConvertedComp": "Salary", "Country": "Region"}, inplace=True)

In [83]:
# participants exceeding "Other Country (Not Listed Above)" as cut-off for Latvia
tgt_regions = df['Region'].value_counts(normalize=True)[:'Latvia'].index.tolist()

In [84]:
filt = df['Region'].isin(tgt_regions)

df = df[filt]

In [87]:
region_dict= {"United States":"US", "United Kingdom":"UK", "Germany":"DE", "France":"FR", "Canada":"CA", "China":"CN", "Taiwan":"TW", "Hong Kong (S.A.R.)":"HK", "India":"IN", "Japan":"JP"}

df['Region'].replace(region_dict, inplace=True)

In [100]:
df['Salary'].describe()

count     53965.0000
mean     129979.1589
std      287698.1569
min           0.0000
25%       27492.0000
50%       58413.0000
75%      101542.0000
max     2000000.0000
Name: Salary, dtype: float64

In [112]:
li_reg = []
li_pct = []

for region in df['Region'].unique():
    one_df = df[df['Region'] == region]
    tbd = one_df['Salary']

    li_reg.append(region)
    li_pct.append(round(len(tbd[tbd.values >= 100_000]) / len(one_df['Salary'].dropna()), 4))

pct_df = pd.DataFrame({
    'Regions': li_reg,
    'Pct_over_avg': li_pct
})


pct_df.sort_values(by='Pct_over_avg', ascending=False)

                 Regions  Pct_over_avg
2                     US        0.5984
16           Switzerland        0.4494
32               Ireland        0.4052
12                Israel        0.3696
8              Australia        0.3392
53                Norway        0.3134
0                     UK        0.3009
20               Denmark        0.2881
6            New Zealand        0.2157
4                     CA        0.2118
58             Singapore        0.1795
29           Netherlands        0.1694
49                    HK        0.1667
7                     DE        0.1466
30                 Italy        0.1361
23                 Spain        0.1344
39                    JP        0.1308
59               Belgium        0.1185
37           South Korea        0.1143
1               Thailand        0.1068
34               Austria        0.1050
28                    FR        0.1014
50  United Arab Emirates        0.0909
13          South Africa        0.0718
26                Sweden        0.0673
27                    CN        0.0607
51              Portugal        0.0590
44              Slovenia        0.0588
62                    TW        0.0556
41               Finland        0.0524
38                Greece        0.0519
5                     IN        0.0515
36               Croatia        0.0476
40               Romania        0.0434
56                 Chile        0.0417
48                Latvia        0.0408
61              Slovakia        0.0400
24                Serbia        0.0364
17             Argentina        0.0357
55                Mexico        0.0346
10                Brazil        0.0336
42              Bulgaria        0.0323
11             Lithuania        0.0311
25                Poland        0.0280
54                 Egypt        0.0265
19        Czech Republic        0.0248
46               Belarus        0.0242
57                 Nepal        0.0241
14              Colombia        0.0238
63             Indonesia        0.0236
22            Bangladesh        0.0200
31           Philippines        0.0197
47               Hungary        0.0152
52               Nigeria        0.0151
21              Malaysia        0.0143
35               Estonia        0.0142
15                Turkey        0.0139
9     Russian Federation        0.0127
18             Sri Lanka        0.0121
45                  Iran        0.0119
43              Viet Nam        0.0115
60                 Kenya        0.0100
3                Ukraine        0.0092
33              Pakistan        0.0024
64               Morocco        0.0000

In [111]:
pct_df.sort_values(by='Pct_over_avg', ascending=False)

                 Regions  Pct_over_avg
2                     US        0.5984
16           Switzerland        0.4494
32               Ireland        0.4052
12                Israel        0.3696
8              Australia        0.3392
53                Norway        0.3134
0                     UK        0.3009
20               Denmark        0.2881
6            New Zealand        0.2157
4                     CA        0.2118
58             Singapore        0.1795
29           Netherlands        0.1694
49                    HK        0.1667
7                     DE        0.1466
30                 Italy        0.1361
23                 Spain        0.1344
39                    JP        0.1308
59               Belgium        0.1185
37           South Korea        0.1143
1               Thailand        0.1068
34               Austria        0.1050
28                    FR        0.1014
50  United Arab Emirates        0.0909
13          South Africa        0.0718
26                Sweden        0.0673
27                    CN        0.0607
51              Portugal        0.0590
44              Slovenia        0.0588
62                    TW        0.0556
41               Finland        0.0524
38                Greece        0.0519
5                     IN        0.0515
36               Croatia        0.0476
40               Romania        0.0434
56                 Chile        0.0417
48                Latvia        0.0408
61              Slovakia        0.0400
24                Serbia        0.0364
17             Argentina        0.0357
55                Mexico        0.0346
10                Brazil        0.0336
42              Bulgaria        0.0323
11             Lithuania        0.0311
25                Poland        0.0280
54                 Egypt        0.0265
19        Czech Republic        0.0248
46               Belarus        0.0242
57                 Nepal        0.0241
14              Colombia        0.0238
63             Indonesia        0.0236
22            Bangladesh        0.0200
31           Philippines        0.0197
47               Hungary        0.0152
52               Nigeria        0.0151
21              Malaysia        0.0143
35               Estonia        0.0142
15                Turkey        0.0139
9     Russian Federation        0.0127
18             Sri Lanka        0.0121
45                  Iran        0.0119
43              Viet Nam        0.0115
60                 Kenya        0.0100
3                Ukraine        0.0092
33              Pakistan        0.0024
64               Morocco        0.0000