In [81]:
import pandas as pd
import numpy as np

people = {
    "first":['Corey', 'Jane', 'John'],
    "last":['Schafer', 'Doe', 'Smith'],
    "email":['CoreySchafer@gmail.com','JaneDoe@hotmail.com','JohnSmith@outlook.com'],
}


pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_colwidth', None)  


pd.set_option('display.float_format', lambda x: '%.4f' % x)


survey_source = '/Users/josephyu/Documents/GitHub/data/survey_results_public.csv'
schema_source = '/Users/josephyu/Documents/GitHub/data/survey_results_schema.csv'


df = pd.read_csv(survey_source, index_col = 'Respondent')
schema_df = pd.read_csv(schema_source, index_col = 'Column')
pp_df = pd.DataFrame(people)

# ['Hobbyist', 'OpenSourcer', 'Region'] -> PERFECT Data Quality by column

In [82]:
df.columns = df.columns.str.strip()
df.rename(columns={"ConvertedComp": "Salary", "Country": "Region"}, inplace=True)

In [83]:
# participants exceeding "Other Country (Not Listed Above)" as cut-off for Latvia
tgt_regions = df['Region'].value_counts(normalize=True)[:'Latvia'].index.tolist()

In [84]:
filt = df['Region'].isin(tgt_regions)

df = df[filt]

In [87]:
region_dict= {"United States":"US", "United Kingdom":"UK", "Germany":"DE", "France":"FR", "Canada":"CA", "China":"CN", "Taiwan":"TW", "Hong Kong (S.A.R.)":"HK", "India":"IN", "Japan":"JP"}

df['Region'].replace(region_dict, inplace=True)

US                      20949
IN                       9061
DE                       5866
UK                       5737
CA                       3395
FR                       2391
Brazil                   1948
Poland                   1922
Australia                1903
Netherlands              1852
Russian Federation       1694
Spain                    1604
Italy                    1576
Sweden                   1274
Switzerland               978
Israel                    952
Turkey                    949
Pakistan                  923
Ukraine                   868
Austria                   839
Czech Republic            764
Romania                   760
Iran                      738
Belgium                   727
CN                        664
Bulgaria                  659
Mexico                    642
South Africa              627
Denmark                   617
Bangladesh                605
Norway                    574
Greece                    556
Argentina                 553
Finland                   546
Portugal                  525
New Zealand               524
Nigeria                   522
Hungary                   513
Indonesia                 507
Ireland                   501
Serbia                    402
JP                        391
Philippines               381
Sri Lanka                 372
Egypt                     323
Colombia                  313
Singapore                 303
Malaysia                  299
Slovenia                  298
Slovakia                  260
Croatia                   260
Kenya                     249
Lithuania                 248
Nepal                     237
Viet Nam                  231
Thailand                  214
Chile                     206
Belarus                   202
Estonia                   195
HK                        188
TW                        187
South Korea               160
United Arab Emirates      158
Morocco                   155
Latvia                    136
Name: Region, dtype: int64