In [237]:
import numpy as np
import pandas as pd

In [238]:
# Constructor Key Value Pair Â≠óÂÖ∏ÊûÑÂª∫
# üß≠ Each column first of all a Serie, and a 1-dimensional DataFrame! ÂàóÂç≥‰∏ÄÁª¥DF
# üß† dict = {}

"""

dict = {
    'key_1': [],
    'key_2': [],
    'key_2': [],
}

"""

people = {
    "first":['Corey', 'Jane', 'John'],
    "last":['Schafer', 'Doe', 'Smith'],
    "email":['CoreySchafer@gmail.com','JaneDoe@hotmail.com','JohnSmith@outlook.com'],
}

In [307]:
# ‚≠êÔ∏è display full (non-truncated) dataframe information
# üß† 'display.max_colwidth', None -> 

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_colwidth', None)  # None or -1

# ‚≠êÔ∏è Format / Suppress Scientific Notation from Python Pandas Aggregation Results
# https://stackoverflow.com/a/21140339/15063197
pd.set_option('display.float_format', lambda x: '%.4f' % x)

# Data Sources
survey_source = '/Users/josephyu/Documents/GitHub/data/survey_results_public.csv'
schema_source = '/Users/josephyu/Documents/GitHub/data/survey_results_schema.csv'

# Create Data Frame
df = pd.read_csv(survey_source, index_col = 'Respondent')
schema_df = pd.read_csv(schema_source, index_col = 'Column')

In [240]:
# Search string case insensitive
# df2 = df1['company_name'].str.contains("apple", na=False, case=False)
# üß≠ As long as it is a Data Frame, we can always apply filter Âè™Ë¶ÅÊòØDFÂ∞±ÂèØ‰ª•‰ΩøÁî®T/FËøõË°åËøáÊª§

row_filter = schema_df.index.str.contains('Language', case=False) | schema_df.index.str.contains('Idiot', case=False)

schema_df[row_filter]

                                                                                                                                                                                                                                                                                                                QuestionText
Column
MgrIdiot                                                                                                                                                                                                                                                   How confident are you that your manager knows what they‚Äôre doing?
LanguageWorkedWith      Which of the following programming, scripting, and markup languages have you done extensive development work in over the past year, and which do you want to work in over the next year?  (If you both worked with the language and want to continue to do so, please check both boxes in that row.)
LanguageDesireNextYear  Which of the following programming, scripting, and markup languages have you done extensive development work in over the past year, and which do you want to work in over the next year?  (If you both worked with the language and want to continue to do so, please check both boxes in that row.)

In [241]:
# Try to filter with index and col together
# Index within (1000, 10_000) & Country == China

tgt_countries = ['China', 'India', 'United States']

row_filter = (df.index >= 1000) & (df.index <= 10_000) & (df['Country'].isin(tgt_countries))

In [242]:
df[row_filter].shape

(2991, 84)

In [243]:
# üéØ What if we want the 90% percentil instead of Top 50

df['Country'].value_counts()[:'Saudi Arabia']

United States                       20949
India                                9061
Germany                              5866
United Kingdom                       5737
Canada                               3395
France                               2391
Brazil                               1948
Poland                               1922
Australia                            1903
Netherlands                          1852
Russian Federation                   1694
Spain                                1604
Italy                                1576
Sweden                               1274
Switzerland                           978
Israel                                952
Turkey                                949
Pakistan                              923
Ukraine                               868
Austria                               839
Czech Republic                        764
Romania                               760
Iran                                  738
Belgium                               727
China                                 664
Bulgaria                              659
Mexico                                642
South Africa                          627
Denmark                               617
Bangladesh                            605
Norway                                574
Greece                                556
Argentina                             553
Finland                               546
Portugal                              525
New Zealand                           524
Nigeria                               522
Hungary                               513
Indonesia                             507
Ireland                               501
Serbia                                402
Japan                                 391
Philippines                           381
Sri Lanka                             372
Egypt                                 323
Colombia                              313
Singapore                             303
Malaysia                              299
Slovenia                              298
Croatia                               260
Slovakia                              260
Kenya                                 249
Lithuania                             248
Nepal                                 237
Viet Nam                              231
Thailand                              214
Chile                                 206
Belarus                               202
Estonia                               195
Hong Kong (S.A.R.)                    188
Taiwan                                187
South Korea                           160
United Arab Emirates                  158
Morocco                               155
Latvia                                136
Other Country (Not Listed Above)      136
Algeria                               134
Tunisia                               130
Peru                                  130
Lebanon                               120
Uruguay                               111
Bosnia and Herzegovina                108
Saudi Arabia                           98
Name: Country, dtype: int64

In [244]:
df['Country'].value_counts().nlargest(50)[:'Egypt']

United States         20949
India                  9061
Germany                5866
United Kingdom         5737
Canada                 3395
France                 2391
Brazil                 1948
Poland                 1922
Australia              1903
Netherlands            1852
Russian Federation     1694
Spain                  1604
Italy                  1576
Sweden                 1274
Switzerland             978
Israel                  952
Turkey                  949
Pakistan                923
Ukraine                 868
Austria                 839
Czech Republic          764
Romania                 760
Iran                    738
Belgium                 727
China                   664
Bulgaria                659
Mexico                  642
South Africa            627
Denmark                 617
Bangladesh              605
Norway                  574
Greece                  556
Argentina               553
Finland                 546
Portugal                525
New Zealand             524
Nigeria                 522
Hungary                 513
Indonesia               507
Ireland                 501
Serbia                  402
Japan                   391
Philippines             381
Sri Lanka               372
Egypt                   323
Name: Country, dtype: int64

In [245]:
df = pd.DataFrame(people)

df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe     JaneDoe@hotmail.com
2   John    Smith   JohnSmith@outlook.com

In [246]:
# Find ALL has a last name of Doe
# Return a T/F Boolean filter mask

filt = (df['last'] == 'Doe')

df[filt]

  first last                email
1  Jane  Doe  JaneDoe@hotmail.com

In [247]:
df.loc[filt, :]

  first last                email
1  Jane  Doe  JaneDoe@hotmail.com

In [248]:
# Must use & | for and or
# Must include () parenthesis for each statement


row_filt = (df['first'] == 'Jane') | (df['last'] == 'Smith')

df[row_filt]

  first   last                  email
1  Jane    Doe    JaneDoe@hotmail.com
2  John  Smith  JohnSmith@outlook.com

In [249]:
# The opposite of that filter

df[~row_filt]

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com

In [250]:
# Look at the data for people for salary over a certain amount

df = pd.read_csv(survey_source, index_col = 'Respondent')

In [251]:
df.head()

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software is about the same,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or tool without taking a formal course",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how to do things I didn‚Äôt necessarily look for,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a job board","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Industry news about technologies you're interested in;Courses on technologies you're interested in,14.00,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software is about the same,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",NaN,Taken an online course in programming or software development (e.g. a MOOC),NaN,"Developer, desktop or enterprise applications;Developer, front-end",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,"Financial performance or funding status of the company or organization;Specific department or team I'd be working on;Languages, frameworks, and other technologies I'd be working with","Something else changed (education, award, media, etc.)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change many aspects of our lives,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how to do things I didn‚Äôt necessarily look for,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board but have never used or visited it","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Industry news about technologies you're interested in;Tech meetups or events in your area;Courses on technologies you're interested in,19.00,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write code sometimes as part of my work",Yes,Never,The quality of OSS and closed source software is about the same,Employed full-time,Thailand,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or tool without taking a formal course",100 to 499 employees,"Designer;Developer, back-end;Developer, front-end;Developer, full-stack",3,22,1,Slightly satisfied,Slightly satisfied,Not at all confident,Not sure,Not sure,"I‚Äôm not actively looking, but I am open to new opportunities",1-2 years ago,Interview with people in peer roles,No,"Languages, frameworks, and other technologies I'd be working with;Remote work options;Flex time or a flexible schedule",I was preparing for a job search,THB,Thai baht,23000.00,Monthly,8820.00,40.00,There's no schedule or spec; I work on what seems most important or urgent,Distracting work environment;Inadequate access to necessary tools;Lack of support from management,Less than once per month / Never,Home,Average,No,NaN,"No, but I think we should",Not sure,I have little or no influence,HTML/CSS,Elixir;HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):,NaN,NaN,Vim;Visual Studio Code,Linux-based,I do not use containers,NaN,NaN,Yes,Yes,Yes,Reddit,In real life (in person),Username,2011,A few times per week,Find answers to specific questions;Learn how to do things I didn‚Äôt necessarily look for,6-10 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a private Q&A instance",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on technologies you're interested in,28.00,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software is about the same,Employed full-time,United States,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or software engineering","Taken an online course in programming or software development (e.g. a MOOC);Received on-the-job training in software development;Taught yourself a new language, framework, or tool without taking a formal course",100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Interview with people in senior / management roles",No,"Languages, frameworks, and other technologies I'd be working with;Office environment or company culture;Opportunities for professional development",I was preparing for a job search,USD,United States dollar,61000.00,Yearly,61000.00,80.00,There's no schedule or spec; I work on what seems most important or urgent,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Developers typically have the most influence on purchasing new technology,I have little or no influence,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the time / relax,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Industry news about technologies you're interested in;Tech meetups or events in your area;Courses on technologies you're interested in,22.00,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than proprietary / closed source software",Employed full-time,Ukraine,No,"Bachelor‚Äôs degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or software engineering","Taken an online course in programming or software development (e.g. a MOOC);Received on-the-job training in software development;Taught yourself a new language, framework, or tool without taking a formal course;Contributed to open source software","10,000 or more employees","Academic researcher;Developer, desktop or enterprise applications;Developer, full-stack;Developer, mobile",16,14,9,Very dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,No,I am not interested in new job opportunities,Less than a year ago,"Write any code;Write code by hand (e.g., on a whiteboard);Solve a brain-teaser style puzzle;Interview with people in senior / management roles",No,"Industry that I'd be working in;Languages, frameworks, and other technologies I'd be working with;Flex time or a flexible schedule",I was preparing for a job search,UAH,Ukrainian hryvnia,NaN,NaN,NaN,55.00,"There is a schedule and/or spec (made by me or by a colleague), and I follow it very closely","Being tasked with non-development work;Inadequate access to necessary tools;Non-work commitments (parenting, school work, hobbies, etc.)",A few days each month,Office,A little above average,"Yes, because I see value in code review",NaN,"Yes, it's part of our process",Not sure,I have little or no influence,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Facebook,In real life (in person),Username,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board but have never used or visited it","No, I've heard of them, but I am not part of a private Q&A instance","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on technologies you're interested in,30.00,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [252]:
# ‚≠êÔ∏è Missing valuves over 10% cut-off 

df.isnull().mean().sort_values(ascending=False)#[:'LastHireDate'].index.tolist()

BlockchainOrg            0.46
CodeRevHrs               0.44
ConvertedComp            0.37
CompTotal                0.37
MiscTechWorkedWith       0.33
BlockchainIs             0.32
PurchaseHow              0.31
MgrMoney                 0.31
MgrIdiot                 0.31
MgrWant                  0.31
PurchaseWhat             0.30
UnitTests                0.29
WebFrameDesireNextYear   0.29
CompFreq                 0.29
WorkWeekHrs              0.27
MiscTechDesireNextYear   0.27
WebFrameWorkedWith       0.27
LastInt                  0.24
WorkChallenge            0.23
SOHowMuchTime            0.23
WorkPlan                 0.22
DatabaseDesireNextYear   0.22
SONewContent             0.22
WorkLoc                  0.21
WorkRemote               0.21
CodeRev                  0.21
JobSat                   0.20
FizzBuzz                 0.20
CurrencyDesc             0.20
CurrencySymbol           0.20
ImpSyn                   0.19
OrgSize                  0.19
CareerSat                0.18
YearsCodePro             0.16
SOPartFreq               0.16
UndergradMajor           0.15
DatabaseWorkedWith       0.14
Sexuality                0.14
Ethnicity                0.14
PlatformDesireNextYear   0.13
ResumeUpdate             0.12
Age                      0.11
JobFactors               0.11
LastHireDate             0.10
ScreenName               0.09
JobSeek                  0.09
PlatformWorkedWith       0.09
DevType                  0.08
Dependents               0.07
Trans                    0.06
SOVisit1st               0.06
LanguageDesireNextYear   0.05
EduOther                 0.05
SocialMedia              0.05
Containers               0.04
Gender                   0.04
WelcomeChange            0.03
BetterLife               0.03
SOTimeSaved              0.03
EdLevel                  0.03
OffOn                    0.02
OpenSource               0.02
SurveyLength             0.02
Student                  0.02
SurveyEase               0.02
ITperson                 0.02
Employment               0.02
Extraversion             0.02
DevEnviron               0.02
LanguageWorkedWith       0.01
Age1stCode               0.01
SOFindAnswer             0.01
SOAccount                0.01
EntTeams                 0.01
OpSys                    0.01
YearsCode                0.01
SOJobs                   0.01
SOVisitTo                0.01
SOComm                   0.01
SOVisitFreq              0.01
MainBranch               0.01
Country                  0.00
Hobbyist                 0.00
OpenSourcer              0.00
dtype: float64

In [253]:
# df.columns # ConvertedComp

df['ConvertedComp'].value_counts()

2000000.00    709
1000000.00    558
120000.00     502
100000.00     480
150000.00     434
             ...
24156.00        1
255720.00       1
614.00          1
179261.00       1
57889.00        1
Name: ConvertedComp, Length: 9162, dtype: int64

In [254]:
# Filter through target list of countries

# üéØ What if we want the 90% percentil instead of Top 50

# participants exceeding "Other Country (Not Listed Above)" as cut-off for Latvia
tgt_regions = df['Country'].value_counts(normalize=True)[:'Latvia'].index.tolist()

tgt_regions

['United States',
 'India',
 'Germany',
 'United Kingdom',
 'Canada',
 'France',
 'Brazil',
 'Poland',
 'Australia',
 'Netherlands',
 'Russian Federation',
 'Spain',
 'Italy',
 'Sweden',
 'Switzerland',
 'Israel',
 'Turkey',
 'Pakistan',
 'Ukraine',
 'Austria',
 'Czech Republic',
 'Romania',
 'Iran',
 'Belgium',
 'China',
 'Bulgaria',
 'Mexico',
 'South Africa',
 'Denmark',
 'Bangladesh',
 'Norway',
 'Greece',
 'Argentina',
 'Finland',
 'Portugal',
 'New Zealand',
 'Nigeria',
 'Hungary',
 'Indonesia',
 'Ireland',
 'Serbia',
 'Japan',
 'Philippines',
 'Sri Lanka',
 'Egypt',
 'Colombia',
 'Singapore',
 'Malaysia',
 'Slovenia',
 'Croatia',
 'Slovakia',
 'Kenya',
 'Lithuania',
 'Nepal',
 'Viet Nam',
 'Thailand',
 'Chile',
 'Belarus',
 'Estonia',
 'Hong Kong (S.A.R.)',
 'Taiwan',
 'South Korea',
 'United Arab Emirates',
 'Morocco',
 'Latvia']

In [255]:
"""
üéØ ÂØπ‰∫éÁªüËÆ°‰∏≠ÁöÑNaNÔºåÁ©∂Á´üÂ∫îËØ•Â¶Ç‰ΩïÂ§ÑÁêÜÔºü
Â¶ÇÊûúÁõ¥Êé•‰Ωú‰∏∫Èõ∂Ôºå‰ºöÂØºËá¥Êï∞ÊçÆÂÅèÂ∑Æ
‰ΩÜÂ¶ÇÊûú‰∏çÂÅöÂ§ÑÁêÜÔºåÊòØÂê¶Âèà‰ºöÂΩ±Âìçvalue_counts, mean, median ???
ÊâÄ‰ª•ÊúÄ‰ºòÂ§ÑÁêÜÊòØÂê¶ÊâæÂà∞ignore NaÁöÑÊñπÊ≥ïÔºü


df['ConvertedComp'].median() # 57_287.0
df['ConvertedComp'].mean() # 127_110.0
"""
filt = df['Country'].isin(tgt_regions)

# Create the new DF
df = df[filt]

In [256]:
# ËøôÁßçÊñπÊ≥ïÊöÇÊó∂ÂèØ‰ª•Ôºå‰ΩÜËøòÊòØÈúÄË¶ÅËß£ÂÜ≥ÈóÆÈ¢òÔºö
# üéØüéØüéØ ÂØπ‰∫éË∂ÖËøáÂÖ®ÁêÉ‰∏≠‰ΩçÊï∞ÁöÑÊµãËØÑËÄÖÔºåÂú®ÂêÑÂõΩ‰∏≠ÊâÄÂç†ÁöÑÊØî‰æã

# How to slice series based on condition (E.g. value > 57_287.0)

# pandas.core.series.Series

salary_df = df.groupby('Country')['ConvertedComp'].median().sort_values(ascending=False)

salary_df[salary_df.values >= 57_287]

Country
United States    110000.00
Switzerland       95440.00
Israel            90720.00
Ireland           83640.00
Denmark           82860.00
Australia         79783.00
Norway            79512.00
Canada            68705.00
United Kingdom    68041.00
New Zealand       63452.00
Germany           63016.00
Singapore         57758.50
Netherlands       57287.00
Name: ConvertedComp, dtype: float64

In [257]:
salary_df[salary_df.values < 57_287]

Country
Sweden                 56004.00
Finland                55569.00
Hong Kong (S.A.R.)     53520.00
Austria                51559.00
Japan                  51326.50
United Arab Emirates   49008.00
Belgium                48120.00
France                 46752.00
South Korea            40950.50
Spain                  40101.00
South Africa           38354.00
Estonia                37237.00
Czech Republic         35637.00
Italy                  35518.00
Slovenia               34368.00
Lithuania              33000.00
Slovakia               32658.00
Poland                 32064.00
Latvia                 31620.00
Romania                31224.00
Thailand               30672.00
China                  28464.00
Bulgaria               28080.00
Taiwan                 27954.00
Chile                  27528.00
Ukraine                26940.00
Hungary                26412.00
Portugal               26124.00
Serbia                 24672.00
Croatia                24108.00
Belarus                24000.00
Russian Federation     23832.00
Greece                 22457.00
Brazil                 18036.00
Argentina              17760.00
Turkey                 17280.00
Mexico                 16968.00
Malaysia               16890.00
Colombia               15528.00
Morocco                15132.00
Kenya                  11940.00
Viet Nam               11892.00
Iran                   10620.00
India                  10080.00
Philippines             9750.00
Egypt                   8844.00
Bangladesh              8764.00
Indonesia               7740.00
Sri Lanka               7476.00
Pakistan                7368.00
Nigeria                 5988.00
Nepal                   4224.00
Name: ConvertedComp, dtype: float64

In [258]:
us_df = df[df['Country'] == 'United States']

In [284]:
# Âú®ÁæéÂõΩ‰∏≠Ë∂ÖËøáÂπ≥ÂùáÁöÑÊØî‰æã
# 20949

len(us_df['ConvertedComp'].dropna())

14981

In [282]:
tbd = us_df['ConvertedComp']

len(tbd[tbd.values >= 57_287])

13554

In [285]:
len(tbd[tbd.values >= 57_287]) / len(us_df['ConvertedComp'].dropna())

0.904746011614712

In [308]:
li_reg = []
li_pct = []

for region in tgt_regions:
    one_df = df[df['Country'] == region]
    tbd = one_df['ConvertedComp']

    li_reg.append(region)
    li_pct.append(round(len(tbd[tbd.values >= 57_287]) / len(one_df['ConvertedComp'].dropna()), 4))
    
    # print(region, round(len(tbd[tbd.values >= 57_287]) / len(one_df['ConvertedComp'].dropna()), 4))

In [311]:
# ‚úÖ Take multiple lists into dataframe ‚≠êÔ∏è
# üß† pd.DataFrame({dict}) -> DataFrame({}) NOTE: {} within ()

pct_df = pd.DataFrame({
    'Regions': li_reg,
    'Pct_over_avg': li_pct
})

pct_df

                 Regions  Pct_over_avg
0          United States        0.9047
1                  India        0.0773
2                Germany        0.5993
3         United Kingdom        0.6235
4                 Canada        0.6393
5                 France        0.3500
6                 Brazil        0.0843
7                 Poland        0.1469
8              Australia        0.7867
9            Netherlands        0.5075
10    Russian Federation        0.0570
11                 Spain        0.2830
12                 Italy        0.2511
13                Sweden        0.4730
14           Switzerland        0.8348
15                Israel        0.7703
16                Turkey        0.0378
17              Pakistan        0.0071
18               Ukraine        0.0996
19               Austria        0.4277
20        Czech Republic        0.1615
21               Romania        0.1855
22                  Iran        0.0286
23               Belgium        0.3384
24                 China        0.1741
25              Bulgaria        0.1538
26                Mexico        0.0778
27          South Africa        0.2990
28               Denmark        0.8333
29            Bangladesh        0.0360
30                Norway        0.8876
31                Greece        0.1331
32             Argentina        0.0969
33               Finland        0.4817
34              Portugal        0.1348
35           New Zealand        0.5882
36               Nigeria        0.0201
37               Hungary        0.0881
38             Indonesia        0.0425
39               Ireland        0.7755
40                Serbia        0.1182
41                 Japan        0.4115
42           Philippines        0.0461
43             Sri Lanka        0.0242
44                 Egypt        0.0397
45              Colombia        0.0714
46             Singapore        0.5064
47              Malaysia        0.0357
48              Slovenia        0.1912
49               Croatia        0.1488
50              Slovakia        0.1133
51                 Kenya        0.0300
52             Lithuania        0.1801
53                 Nepal        0.0241
54              Viet Nam        0.0345
55              Thailand        0.2621
56                 Chile        0.1389
57               Belarus        0.1048
58               Estonia        0.1915
59    Hong Kong (S.A.R.)        0.4352
60                Taiwan        0.1111
61           South Korea        0.2000
62  United Arab Emirates        0.3409
63               Morocco        0.0488
64                Latvia        0.1633

In [312]:
pct_df.sort_values(by='Pct_over_avg', ascending=False)

                 Regions  Pct_over_avg
0          United States        0.9047
30                Norway        0.8876
14           Switzerland        0.8348
28               Denmark        0.8333
8              Australia        0.7867
39               Ireland        0.7755
15                Israel        0.7703
4                 Canada        0.6393
3         United Kingdom        0.6235
2                Germany        0.5993
35           New Zealand        0.5882
9            Netherlands        0.5075
46             Singapore        0.5064
33               Finland        0.4817
13                Sweden        0.4730
59    Hong Kong (S.A.R.)        0.4352
19               Austria        0.4277
41                 Japan        0.4115
5                 France        0.3500
62  United Arab Emirates        0.3409
23               Belgium        0.3384
27          South Africa        0.2990
11                 Spain        0.2830
55              Thailand        0.2621
12                 Italy        0.2511
61           South Korea        0.2000
58               Estonia        0.1915
48              Slovenia        0.1912
21               Romania        0.1855
52             Lithuania        0.1801
24                 China        0.1741
64                Latvia        0.1633
20        Czech Republic        0.1615
25              Bulgaria        0.1538
49               Croatia        0.1488
7                 Poland        0.1469
56                 Chile        0.1389
34              Portugal        0.1348
31                Greece        0.1331
40                Serbia        0.1182
50              Slovakia        0.1133
60                Taiwan        0.1111
57               Belarus        0.1048
18               Ukraine        0.0996
32             Argentina        0.0969
37               Hungary        0.0881
6                 Brazil        0.0843
26                Mexico        0.0778
1                  India        0.0773
45              Colombia        0.0714
10    Russian Federation        0.0570
63               Morocco        0.0488
42           Philippines        0.0461
38             Indonesia        0.0425
44                 Egypt        0.0397
16                Turkey        0.0378
29            Bangladesh        0.0360
47              Malaysia        0.0357
54              Viet Nam        0.0345
51                 Kenya        0.0300
22                  Iran        0.0286
43             Sri Lanka        0.0242
53                 Nepal        0.0241
36               Nigeria        0.0201
17              Pakistan        0.0071

In [314]:
df.shape

(88883, 84)