In [1]:
import numpy as np
import pandas as pd

In [2]:
# Constructor Key Value Pair 字典构建
# 🧭 Each column first of all a Serie, and a 1-dimensional DataFrame! 列即一维DF
# 🧠 dict = {}

"""

dict = {
    'key_1': [],
    'key_2': [],
    'key_2': [],
}

"""

people = {
    "first":['Corey', 'Jane', 'John'],
    "last":['Schafer', 'Doe', 'Smith'],
    "email":['CoreySchafer@gmail.com','JaneDoe@hotmail.com','JohnSmith@outlook.com'],
}

In [3]:
# ⭐️ display full (non-truncated) dataframe information
# 🧠 'display.max_colwidth', None -> 

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_colwidth', None)  # None or -1

# Data Sources
survey_source = '/Users/josephyu/Documents/GitHub/data/survey_results_public.csv'
schema_source = '/Users/josephyu/Documents/GitHub/data/survey_results_schema.csv'

# Create Data Frame
df = pd.read_csv(survey_source, index_col = 'Respondent')
schema_df = pd.read_csv(schema_source, index_col = 'Column')

In [21]:
type(schema_df)

pandas.core.frame.DataFrame

In [34]:
# Search string case insensitive
# df2 = df1['company_name'].str.contains("apple", na=False, case=False)
# 🧭 As long as it is a Data Frame, we can always apply filter 只要是DF就可以使用T/F进行过滤

row_filter = schema_df.index.str.contains('Language', case=False) | schema_df.index.str.contains('Idiot', case=False)

schema_df[row_filter]

                                                                                                                                                                                                                                                                                                                QuestionText
Column
MgrIdiot                                                                                                                                                                                                                                                   How confident are you that your manager knows what they’re doing?
LanguageWorkedWith      Which of the following programming, scripting, and markup languages have you done extensive development work in over the past year, and which do you want to work in over the next year?  (If you both worked with the language and want to continue to do so, please check both boxes in that row.)
LanguageDesireNextYear  Which of the following programming, scripting, and markup languages have you done extensive development work in over the past year, and which do you want to work in over the next year?  (If you both worked with the language and want to continue to do so, please check both boxes in that row.)

In [65]:
# Try to filter with index and col together
# Index within (1000, 10_000) & Country == China

tgt_countries = ['China', 'India', 'United States']

row_filter = (df.index >= 1000) & (df.index <= 10_000) & (df['Country'].isin(tgt_countries))

In [66]:
df[row_filter].shape

(2991, 84)

In [80]:
# 🎯 What if we want the 90% percentil instead of Top 50

df['Country'].value_counts()[:'Saudi Arabia']

United States                       20949
India                                9061
Germany                              5866
United Kingdom                       5737
Canada                               3395
France                               2391
Brazil                               1948
Poland                               1922
Australia                            1903
Netherlands                          1852
Russian Federation                   1694
Spain                                1604
Italy                                1576
Sweden                               1274
Switzerland                           978
Israel                                952
Turkey                                949
Pakistan                              923
Ukraine                               868
Austria                               839
Czech Republic                        764
Romania                               760
Iran                                  738
Belgium                               727
China                                 664
Bulgaria                              659
Mexico                                642
South Africa                          627
Denmark                               617
Bangladesh                            605
Norway                                574
Greece                                556
Argentina                             553
Finland                               546
Portugal                              525
New Zealand                           524
Nigeria                               522
Hungary                               513
Indonesia                             507
Ireland                               501
Serbia                                402
Japan                                 391
Philippines                           381
Sri Lanka                             372
Egypt                                 323
Colombia                              313
Singapore                             303
Malaysia                              299
Slovenia                              298
Croatia                               260
Slovakia                              260
Kenya                                 249
Lithuania                             248
Nepal                                 237
Viet Nam                              231
Thailand                              214
Chile                                 206
Belarus                               202
Estonia                               195
Hong Kong (S.A.R.)                    188
Taiwan                                187
South Korea                           160
United Arab Emirates                  158
Morocco                               155
Latvia                                136
Other Country (Not Listed Above)      136
Algeria                               134
Tunisia                               130
Peru                                  130
Lebanon                               120
Uruguay                               111
Bosnia and Herzegovina                108
Saudi Arabia                           98
Name: Country, dtype: int64

In [78]:
df['Country'].value_counts().nlargest(50)[:'Egypt']

United States         20949
India                  9061
Germany                5866
United Kingdom         5737
Canada                 3395
France                 2391
Brazil                 1948
Poland                 1922
Australia              1903
Netherlands            1852
Russian Federation     1694
Spain                  1604
Italy                  1576
Sweden                 1274
Switzerland             978
Israel                  952
Turkey                  949
Pakistan                923
Ukraine                 868
Austria                 839
Czech Republic          764
Romania                 760
Iran                    738
Belgium                 727
China                   664
Bulgaria                659
Mexico                  642
South Africa            627
Denmark                 617
Bangladesh              605
Norway                  574
Greece                  556
Argentina               553
Finland                 546
Portugal                525
New Zealand             524
Nigeria                 522
Hungary                 513
Indonesia               507
Ireland                 501
Serbia                  402
Japan                   391
Philippines             381
Sri Lanka               372
Egypt                   323
Name: Country, dtype: int64